@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background-color: #ffffff;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}

@mixin btn-blue-light {
    color: #0075ff;
    background: #DEF2FF;
    border: 1px solid #0075FF;
    box-sizing: border-box;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;

    
    &:hover {
    background: #DEF2FF;
    box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background: #DEF2FF;
        box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
        transform: translateY(-3px);
    }
}

