@import url("bootstrap.min.css");
@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("animate.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("../fonts/metopoolis/stylesheet-1.css");
@import url("../fonts/metopoolis/stylesheet-2.css");
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
    width: 100%;
  }
}

/* Use the variables */
body {
  background-color: #fafafa;
  color: #666666;
  font-size: 18px;
  font-family: 'metropolisregular' !important;
  font-weight: normal;
}

/* end the variables */
/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
}

.header {
  height: 70px;
  position: relative;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3043FA;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
  border-bottom: 1px solid #3043FA;
  height: 119px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  max-width: 140px;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 140px);
          flex: 0 0 calc(100% - 140px);
  max-width: calc(100% - 140px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .navbar-brand {
  width: 128px;
  height: auto;
  padding: 0 5px;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #666666;
  padding: 0;
  outline: 0 !important;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -15px;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav {
  min-height: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 18px;
  letter-spacing: 0.12;
  text-transform: uppercase;
  font-family: 'metropolismedium';
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  color: #ffffff;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  min-height: 30px !important;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #ffffff !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.search-header .navbar-toggler {
  top: 10px !important;
}

.profile-header {
  min-height: 51px !important;
}

.profile-header li {
  padding: 0 10px;
}

.profile-header li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none !important;
  position: relative;
}

.profile-header li a .badge {
  position: absolute;
  right: 17px;
  top: -8px;
  z-index: 99;
  background-color: #EE3842;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  font-size: 9px;
  color: #ffffff;
  font-family: 'metropolissemi_bold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-header li a .icon-menu {
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  background: rgba(131, 182, 217, 0.6);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  min-width: 25px;
  min-height: 25px;
  position: relative;
  left: 0px;
  margin-bottom: 8px;
}

.profile-header li a .icon-home {
  -webkit-mask: url(../images/home.svg) no-repeat 50% 50%;
  mask: url(../images/home.svg) no-repeat 50% 50%;
  width: 25px;
  height: 25px;
}

.profile-header li a .icon-session {
  -webkit-mask: url(../images/sessions.svg) no-repeat 50% 50%;
  mask: url(../images/sessions.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.profile-header li a .icon-profile {
  -webkit-mask: url(../images/profile.svg) no-repeat 50% 50%;
  mask: url(../images/profile.svg) no-repeat 50% 50%;
  width: 25px;
  height: 26px;
}

.profile-header li a .icon-bell {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='8' fill='%23597CE9'/%3E%3Cpath d='M12.0574 18C12.8774 18 13.5425 17.3285 13.5425 16.5H10.5724C10.5724 17.3285 11.2375 18 12.0574 18ZM17.0576 14.4912C16.6091 14.0046 15.7699 13.2727 15.7699 10.875C15.7699 9.05391 14.5052 7.59609 12.7998 7.23844V6.75C12.7998 6.33586 12.4674 6 12.0574 6C11.6475 6 11.315 6.33586 11.315 6.75V7.23844C9.60972 7.59609 8.34501 9.05391 8.34501 10.875C8.34501 13.2727 7.50581 14.0046 7.05731 14.4912C6.91803 14.6423 6.85628 14.823 6.85744 15C6.85999 15.3844 7.15876 15.75 7.60262 15.75H16.5123C16.9561 15.75 17.2551 15.3844 17.2574 15C17.2586 14.823 17.1969 14.6421 17.0576 14.4912V14.4912Z' fill='%239FCEED' fill-opacity='1'/%3E%3C/svg%3E%0A");
}

.profile-header li a .icon-wallet {
  background-image: url(../images/piggy-bank-white.png);
  height: 25px;
  width: 25px;
  background-size: 100%;
  background-color: transparent !important;
}

.profile-header li a .icon-chat {
  background-image: url(../images/icon/chat.png);
  height: 26px;
  width: 27px;
  background-size: 100%;
  background-color: transparent !important;
  background-size: 100%;
}

.profile-header li a span {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #83B6D9;
  letter-spacing: 0.03em;
  font-family: 'metropolisbold';
}

.profile-header li a:hover .icon-menu {
  background-color: #00D1FF;
}

.profile-header li a:hover .icon-bell {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='8' fill='%2300D1FF'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M12.0555 18C12.8754 18 13.5405 17.3285 13.5405 16.5H10.5705C10.5705 17.3285 11.2356 18 12.0555 18ZM17.0556 14.4912C16.6071 14.0046 15.7679 13.2727 15.7679 10.875C15.7679 9.05391 14.5032 7.59609 12.7979 7.23844V6.75C12.7979 6.33586 12.4654 6 12.0555 6C11.6455 6 11.3131 6.33586 11.3131 6.75V7.23844C9.60777 7.59609 8.34306 9.05391 8.34306 10.875C8.34306 13.2727 7.50386 14.0046 7.05536 14.4912C6.91607 14.6423 6.85432 14.823 6.85548 15C6.85804 15.3844 7.15681 15.75 7.60066 15.75H16.5103C16.9542 15.75 17.2532 15.3844 17.2555 15C17.2566 14.823 17.1949 14.6421 17.0556 14.4912Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='10.4' height='12' fill='white' transform='translate(6.85547 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.profile-header li a:hover span {
  color: #ffffff;
}

.profile-header li a.active .icon-menu {
  background-color: #00D1FF;
}

.profile-header li a.active .icon-bell {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='8' fill='%2300D1FF'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M12.0555 18C12.8754 18 13.5405 17.3285 13.5405 16.5H10.5705C10.5705 17.3285 11.2356 18 12.0555 18ZM17.0556 14.4912C16.6071 14.0046 15.7679 13.2727 15.7679 10.875C15.7679 9.05391 14.5032 7.59609 12.7979 7.23844V6.75C12.7979 6.33586 12.4654 6 12.0555 6C11.6455 6 11.3131 6.33586 11.3131 6.75V7.23844C9.60777 7.59609 8.34306 9.05391 8.34306 10.875C8.34306 13.2727 7.50386 14.0046 7.05536 14.4912C6.91607 14.6423 6.85432 14.823 6.85548 15C6.85804 15.3844 7.15681 15.75 7.60066 15.75H16.5103C16.9542 15.75 17.2532 15.3844 17.2555 15C17.2566 14.823 17.1949 14.6421 17.0556 14.4912Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='10.4' height='12' fill='white' transform='translate(6.85547 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.profile-header li a.active span {
  color: #ffffff;
}

.profile-header .chat-btn a {
  background: #1529FA;
  border-radius: 10px;
  height: 60px;
  width: 60px;
  position: relative;
}

.profile-header .chat-btn a .badge {
  background-color: #EE3842;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 20px;
  font-family: 'metropolisbold';
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -6px;
  top: -12px;
}

.profile-header .chat-btn span {
  color: #ffffff;
}

.profile-header .chat-light a {
  background-color: #6C95FF;
}

@-webkit-keyframes dropdown-menu-move-up {
  from {
    margin-top: 60px;
  }
  to {
    margin-top: 38px;
  }
}

.dropdown-notification {
  margin-top: 38px;
  width: 312px;
  right: -50px;
  left: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.3);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.3);
  border-radius: 10px;
  padding: 30px 20px 0 20px;
  -webkit-animation: dropdown-menu-fade-in .3s ease 1,dropdown-menu-move-up .3s ease-out 1;
          animation: dropdown-menu-fade-in .3s ease 1,dropdown-menu-move-up .3s ease-out 1;
}

.dropdown-notification .notifiction-heading h3 {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #0075FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 26px;
}

.dropdown-notification .notifiction-heading h3 span {
  color: #14C85C !important;
}

.dropdown-notification .notification-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-notification .notification-list ul li {
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 10px rgba(0, 153, 255, 0.12);
  border-radius: 5px;
  margin-left: 15px;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-notification .notification-list ul li.active {
  position: relative;
}

.dropdown-notification .notification-list ul li.active::after {
  content: '';
  position: absolute;
  left: -20px;
  top: 20px;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  display: block;
  background-color: #14C85C;
}

.dropdown-notification .notification-list ul li:hover {
  background: #FFFFFF;
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 10px rgba(0, 153, 255, 0.12);
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dropdown-notification .notification-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 14px 12px;
  font-family: 'metropolismedium';
}

.dropdown-notification .notification-list ul li a img {
  width: 22px;
  height: 13px;
  margin-right: 15px;
}

.dropdown-notification .notification-list ul li a .img-18 {
  width: 18px;
  height: 18px;
}

.dropdown-notification .notification-list ul li a p {
  font-size: 12px;
  line-height: 14px;
  color: #3A6BA4;
  margin-bottom: 0;
}

.dropdown-notification .notification-list ul li a p span {
  color: #3A6BA4;
  font-family: 'metropolisbold';
  text-transform: unset;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
}

.sub-header {
  margin-top: 119px;
  height: 44px;
  background-color: #ffffff;
}

.sub-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: auto;
  width: 100%;
}

.sub-header ul li {
  width: 100%;
}

.sub-header ul li a {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-family: 'metropolismedium';
  color: #7B7B7B;
  padding: 12px 10px;
  text-decoration: none;
}

.sub-header ul li a:hover {
  color: #000000;
}

.search-control {
  max-width: 360px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.search-control .search-icon {
  position: absolute;
  left: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-control .search-icon i {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-control .search-icon i img {
  width: 100%;
  height: auto;
}

.search-control .form-control {
  height: 47px;
  padding-left: 50px;
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-family: 'metropolisregular';
}

.sidenav-new-menu .closebtn {
  display: none;
}

/*############################## Home section ###############################*/
.modal-backdrop {
  background: rgba(191, 218, 236, 0.75);
  border-radius: 0px 0px 20px 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  height: 50px;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background: #FFFFFF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  color: #0075FF;
  font-family: 'metropolismedium';
}

.form-group .form-control::-webkit-input-placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.form-group .form-control:-ms-input-placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.form-group .form-control::-ms-input-placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.form-group .form-control::placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.form-group .form-control:focus {
  border-color: #1D61F6 !important;
  color: #0075FF;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

.custom-control-label::after {
  position: absolute;
  top: -2px;
  left: -36px;
  display: block;
  width: 25px;
  height: 25px;
}

.check-box-group {
  padding-left: 20px;
}

.custom-control-label::before {
  top: -1px;
  width: 23px;
  height: 23px;
  left: -35px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);
          box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);
  border-radius: 5px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border: 1px solid #32D45F;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);
          box-shadow: 0px 1px 3px rgba(131, 182, 217, 0.75);
  border-radius: 5px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../images/icon/check.svg);
}

.inner-page {
  margin-top: 119px;
}

.profile-header .profile-user a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 20px;
}

.profile-header .profile-user a .user-img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #C4C4C4;
  border: 1px solid #FFFFFF;
}

.profile-header .profile-user a span {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  text-transform: unset;
  font-family: 'metropolissemi_bold';
}

select.arrow {
  -webkit-appearance: none;
  position: relative;
  background: #F7FCFF url(../images/arrow-down.png) no-repeat 95% !important;
  background-size: 14px !important;
  padding-right: 42px;
}

.stciky-bg {
  background-color: #FFFFFF;
}

.chat-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
  margin-bottom: 50px;
  height: 60px;
  float: right;
  width: 60px;
  background: #1529FA;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99;
}

.chat-sticky .chat-inner {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 8px 14px;
}

.chat-sticky .chat-inner .badge {
  background-color: #EE3842;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 20px;
  font-family: 'metropolisbold';
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -6px;
  top: -12px;
}

.chat-sticky a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.chat-sticky a img {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}

.chat-sticky a span {
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.middle-section .row-7 {
  margin: 0 -7px;
}

.middle-section .row-7 .pad-7 {
  padding: 0 7px;
}

.footer-section {
  padding: 45px 0 130px 0;
  background-color: #2F42FA;
}

.footer-section .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-section .footer-top .footer-logo {
  width: 130px;
  height: 65px;
  margin-bottom: 40px;
}

.footer-section .footer-top .footer-logo img {
  width: 100%;
  height: auto;
}

.footer-section .footer-top .social-media {
  margin-bottom: 36px;
}

.footer-section .footer-top .social-media ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-top .social-media ul li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
}

.footer-section .footer-top .social-media ul li a {
  height: 28px;
  width: 28px;
  min-width: 28px;
  background-color: #ffffff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer-section .footer-top .social-media ul li a:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer-section .footer-top .social-media ul li a .fa {
  color: #2F42FA;
}

.footer-section .footer-top .social-media ul li a .tic-tok {
  height: auto;
  width: 14px;
}

.footer-section .bl-1 {
  position: relative;
}

.footer-section .bl-1 .footer-content {
  padding-left: 15px;
}

.footer-section .bl-1::after {
  content: "";
  height: 95%;
  background-color: rgba(196, 196, 196, 0.5);
  width: 1px;
  display: block;
  left: 0px;
  top: 0%;
  position: absolute;
}

.footer-section .footer-content h3 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: 'metropolissemi_bold';
  margin-bottom: 15px;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
}

.footer-section .footer-content ul li {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.footer-section .footer-content ul li a {
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
}

.footer-section .footer-content ul li a:hover {
  color: #6C95FF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-section .footer-store-content {
  padding-right: 40px;
}

.footer-section .footer-store-content h2 {
  color: #6C95FF;
  font-size: 18px;
  line-height: 24px;
}

.footer-section .footer-store-content p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: 'metropolismedium';
  margin-bottom: 36px;
}

.footer-section .footer-store-content .store-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 32px;
  z-index: 9;
  position: relative;
}

.footer-section .footer-store-content .store-button .btn-store {
  width: 147px;
  height: 43px;
  display: block;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-right: 8px;
}

.footer-section .footer-store-content .store-button .btn-store:last-child {
  margin-right: 0;
}

.footer-section .footer-store-content .store-button .btn-store img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .footer-store-content .store-button .btn-store:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .footer-store-content .store-button .btn-store:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .footer-store-content .newsletter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-section .footer-store-content .newsletter-content .btn-signup {
  background-color: #6c95ff;
  color: #ffffff;
  height: 38px;
  font-size: 16px;
  font-family: 'metropolismedium';
  width: 114px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .footer-store-content .newsletter-content .btn-signup:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .footer-store-content .newsletter-content .btn-signup:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .footer-store-content .newsletter-content p {
  margin: 0 0 0 20px;
  color: #6C95FF;
  font-size: 16px;
  line-height: 26px;
  font-family: 'metropolismedium';
}

.modal-custom .modal-dialog {
  max-width: 630px !important;
}

.modal-custom .modal-dialog .modal-content {
  background: #FFFFFF;
  border: 1px solid #94C6FF;
  max-height: 90vh;
}

.modal-custom .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  position: relative;
}

.modal-custom .modal-dialog .modal-content .modal-header .modal-title {
  color: #0075FF;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-family: 'metropolissemi_bold';
  width: 100%;
}

.modal-custom .modal-dialog .modal-content .modal-header .close {
  opacity: 1;
  position: absolute;
  right: 20px;
  top: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.modal-custom .modal-dialog .modal-content .modal-header .close span {
  font-size: 12px;
  color: #0075FF;
  opacity: 1;
}

.modal-custom .modal-dialog .modal-content .modal-body {
  padding: 0 50px 0px 50px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-custom .modal-dialog .modal-content .modal-body .terms-content {
  padding-bottom: 50px;
}

.modal-custom .modal-dialog .modal-content .modal-body .terms-content p {
  font-size: 12px;
  color: #000000;
  line-height: 16px;
}

.modal-custom-2 .border-0 {
  border: 0 !important;
}

.modal-custom-2 .modal-content {
  border: 1px solid #6C95FF;
  border-radius: 10px;
}

.modal-custom-2 .modal-content .cancel-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-custom-2 .modal-content .cancel-div .btn-cancel {
  color: #0075ff;
  background: #DEF2FF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  max-width: 180px;
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'metropolismedium';
  min-height: 42px;
  border-radius: 10px !important;
}

.modal-custom-2 .modal-content .cancel-div .btn-cancel:hover {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .cancel-div .btn-cancel:focus {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .cancel-div .cancel-lg {
  max-width: 246px !important;
  border-radius: 15px !important;
  min-height: 50px !important;
}

.modal-custom-2 .modal-content .cancel-div .max-100 {
  max-width: 100% !important;
}

.modal-custom-2 .modal-content .modal-logo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-custom-2 .modal-content .modal-logo-top .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.modal-custom-2 .modal-content .modal-logo-top .signup-circle img {
  width: 100%;
}

.modal-custom-2 .modal-content .welcome-box {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.modal-custom-2 .modal-content .welcome-box .get-start {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

.modal-custom-2 .modal-content .welcome-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #0075FF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .welcome-box .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 50px;
}

.modal-custom-2 .modal-content .welcome-box .signup-circle img {
  width: 100%;
}

.modal-custom-2 .modal-content .welcome-box h2 {
  font-size: 24px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1529FA;
  font-family: 'metropolissemi_bold';
  margin-bottom: 30px;
}

.modal-custom-2 .modal-content .welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px 40px 50px;
}

.modal-custom-2 .modal-content .welcome-content .welcome-img {
  width: 35px;
  height: 35px;
  background-color: #32D45F;
  border-radius: 8px;
  padding: 3px;
  margin-bottom: 24px;
}

.modal-custom-2 .modal-content .welcome-content .welcome-img img {
  width: 100%;
}

.modal-custom-2 .modal-content .welcome-content h3 {
  font-size: 18px;
  line-height: 22px;
  color: #3A6BA4;
  text-align: center;
  font-family: 'metropolissemi_bold';
  margin-bottom: 36px;
  padding: 0 45px;
}

.modal-custom-2 .modal-content .welcome-content p {
  font-size: 16px;
  line-height: 20px;
  color: #3A6BA4;
  text-align: center;
  font-family: 'metropolismedium';
  margin-bottom: 40px;
}

.modal-custom-2 .modal-content .welcome-content .btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-custom-2 .modal-content .welcome-content .btn-groups .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  height: 50px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'metropolismedium';
  margin-bottom: 22px;
  text-transform: uppercase;
  max-width: 246px;
  width: 100%;
}

.modal-custom-2 .modal-content .welcome-content .btn-groups .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .welcome-content .btn-groups .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .welcome-content .btn-groups .btn-blue img {
  height: 24px;
  width: 24px;
  margin-right: 25px;
}

.modal-custom-2 .modal-content .welcome-content .btn-groups .btn-blue:last-child {
  margin-bottom: 0;
}

.modal-custom-2 .modal-content .welcome-content .btn-groups .find-mentor img {
  margin-left: 12px;
}

.modal-custom-2 .modal-content .not-old-enough-box {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.modal-custom-2 .modal-content .not-old-enough-box .get-start {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

.modal-custom-2 .modal-content .not-old-enough-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #0075FF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .not-old-enough-box .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 50px;
}

.modal-custom-2 .modal-content .not-old-enough-box .signup-circle img {
  width: 100%;
}

.modal-custom-2 .modal-content .not-old-enough-box h2 {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3A6BA4;
  font-family: 'metropolissemi_bold';
  margin-bottom: 40px;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content {
  text-align: center;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content p {
  text-align: center;
  color: #3A6BA4;
  font-size: 14px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .caution-img {
  margin-top: 20px;
  height: 48px;
  width: 48px;
  margin-bottom: 36px;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .caution-img img {
  width: 100%;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .btn-groups .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  height: 50px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'metropolismedium';
  margin-bottom: 22px;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .btn-groups .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .btn-groups .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .not-old-enough-box .not-enough-content .btn-groups .btn-blue:last-child {
  margin-bottom: 0;
}

.modal-custom-2 .modal-content .email-sent-box {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.modal-custom-2 .modal-content .email-sent-box .get-start {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

.modal-custom-2 .modal-content .email-sent-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #0075FF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .email-sent-box .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 50px;
}

.modal-custom-2 .modal-content .email-sent-box .signup-circle img {
  width: 100%;
}

.modal-custom-2 .modal-content .email-sent-box h2 {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0099FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 40px;
}

.modal-custom-2 .modal-content .email-sent-box .email-sent-content {
  text-align: center;
  padding: 0 70px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.modal-custom-2 .modal-content .email-sent-box .email-sent-content p {
  text-align: center;
  color: #3A6BA4;
  font-size: 14px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .email-sent-box .email-sent-content .email-sent-img {
  margin-top: 20px;
  height: 48px;
  width: 48px;
  margin-bottom: 50px;
}

.modal-custom-2 .modal-content .email-sent-box .email-sent-content .email-sent-img img {
  width: 100%;
}

.modal-custom-2 .modal-content .email-sent-box .resend .resend-btn {
  color: #293CFF;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-family: 'metropolisbold';
  text-decoration: none;
}

.modal-custom-2 .modal-content .email-sent-box .resend .resend-btn:hover {
  color: #1D61F6;
}

.modal-custom-2 .modal-content .email-sent-box .resend .resend-btn span {
  display: block;
}

.modal-custom-2 .modal-content .mentee-pricing {
  padding: 20px 50px;
}

.modal-custom-2 .modal-content .mentee-pricing h3 {
  font-size: 24px;
  line-height: 30px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
  margin-bottom: 20px;
}

.modal-custom-2 .modal-content .mentee-pricing h3 span {
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .mentee-pricing p {
  font-size: 14px;
  line-height: 16px;
  color: #3A6BA4;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 20px;
}

.modal-custom-2 .modal-content .mentee-pricing .form-group {
  margin-bottom: 50px;
  position: relative;
}

.modal-custom-2 .modal-content .mentee-pricing .form-group label {
  font-size: 16px;
  color: #14C85C;
  line-height: 27px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .mentee-pricing .form-group .form-control {
  background: #F7FCFF;
  border: 1px solid rgba(108, 149, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding-left: 30px;
}

.modal-custom-2 .modal-content .mentee-pricing .form-group span {
  position: absolute;
  left: 0px;
  top: 37px;
  height: 50px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3A6BA4;
  font-size: 16px;
}

.modal-custom-2 .modal-content .mentee-pricing .div-pricing .btn-save {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  line-height: 23px;
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .mentee-pricing .div-pricing .btn-save:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .mentee-pricing .div-pricing .btn-save:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .edit-bio {
  padding: 20px 40px;
}

.modal-custom-2 .modal-content .edit-bio h3 {
  font-size: 24px;
  line-height: 30px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
  margin-bottom: 50px;
  text-align: center;
}

.modal-custom-2 .modal-content .edit-bio h3 span {
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .edit-bio .form-group {
  margin-bottom: 50px;
  position: relative;
}

.modal-custom-2 .modal-content .edit-bio .form-group span {
  position: absolute;
  right: 0px;
  bottom: -10px;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #DC3434;
  font-size: 12px;
  white-space: nowrap;
}

.modal-custom-2 .modal-content .edit-bio .form-group textarea.form-control {
  background: #F7FCFF;
  border: 1px solid rgba(108, 149, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 20px;
  min-height: 250px;
  line-height: 22px;
  font-size: 13px;
  padding-bottom: 30px;
}

.modal-custom-2 .modal-content .edit-bio .form-group textarea.form-control::-webkit-input-placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-bio .form-group textarea.form-control:-ms-input-placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-bio .form-group textarea.form-control::-ms-input-placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-bio .form-group textarea.form-control::placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-bio .div-biosave .btn-save {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .edit-bio .div-biosave .btn-save:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .edit-bio .div-biosave .btn-save:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .edit-fun {
  padding: 20px 40px;
}

.modal-custom-2 .modal-content .edit-fun h3 {
  font-size: 24px;
  line-height: 30px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
  margin-bottom: 50px;
  text-align: center;
}

.modal-custom-2 .modal-content .edit-fun h3 span {
  font-family: 'metropolisbold';
}

.modal-custom-2 .modal-content .edit-fun .form-group {
  margin-bottom: 50px;
  position: relative;
}

.modal-custom-2 .modal-content .edit-fun .form-group span {
  position: absolute;
  right: 0px;
  bottom: -10px;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #DC3434;
  font-size: 12px;
  white-space: nowrap;
}

.modal-custom-2 .modal-content .edit-fun .form-group textarea.form-control {
  background: #F7FCFF;
  border: 1px solid rgba(108, 149, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 20px;
  min-height: 250px;
  line-height: 22px;
  font-size: 13px;
  padding-bottom: 30px;
}

.modal-custom-2 .modal-content .edit-fun .form-group textarea.form-control::-webkit-input-placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-fun .form-group textarea.form-control:-ms-input-placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-fun .form-group textarea.form-control::-ms-input-placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-fun .form-group textarea.form-control::placeholder {
  color: #838383;
}

.modal-custom-2 .modal-content .edit-fun .div-fun-save .btn-save {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .edit-fun .div-fun-save .btn-save:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .edit-fun .div-fun-save .btn-save:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .edit-career-hsitory {
  margin-bottom: 30px;
  width: 100%;
  padding: 20px 35px;
}

.modal-custom-2 .modal-content .edit-career-hsitory h3 {
  color: #3A6BA4;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 15px;
  font-family: 'metropolismedium';
  text-align: center;
}

.modal-custom-2 .modal-content .edit-career-hsitory p {
  font-size: 14px;
  line-height: 22px;
  color: #3A6BA4;
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group {
  margin-bottom: 20px;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group label {
  font-size: 14px;
  line-height: 16px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group .form-control {
  font-size: 14px;
  line-height: 23px;
  color: #3A6BA4;
  background: #F7FCFF;
  border: 1px solid rgba(0, 117, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group .form-control::-webkit-input-placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group .form-control:-ms-input-placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group .form-control::-ms-input-placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group .form-control::placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.modal-custom-2 .modal-content .edit-career-hsitory .form-group-input span {
  padding: 0 10px;
  color: #3A6BA4;
  font-size: 14px;
  line-height: 16px;
}

.modal-custom-2 .modal-content .edit-career-hsitory .div-career-save .btn-save {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .edit-career-hsitory .div-career-save .btn-save:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .edit-career-hsitory .div-career-save .btn-save:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.modal-custom-2 .modal-content .edit-time-pladge {
  margin-bottom: 30px;
  width: 100%;
  padding: 20px 35px;
}

.modal-custom-2 .modal-content .edit-time-pladge h3 {
  color: #3A6BA4;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 30px;
  font-family: 'metropolismedium';
  text-align: center;
}

.modal-custom-2 .modal-content .edit-time-pladge p {
  font-size: 14px;
  line-height: 22px;
  color: #3A6BA4;
  margin-bottom: 40px;
  text-align: left;
  position: relative;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group {
  margin-bottom: 30px;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group label {
  font-size: 17px;
  line-height: 16px;
  color: #3A6BA4;
  font-family: 'metropolissemi_bold';
  margin-bottom: 20px;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group .form-control {
  font-size: 17px;
  line-height: 28px;
  color: #3A6BA4;
  background: #F7FCFF;
  border: 1px solid rgba(0, 117, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group .form-control::-webkit-input-placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group .form-control:-ms-input-placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group .form-control::-ms-input-placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group .form-control::placeholder {
  color: #3A6BA4;
}

.modal-custom-2 .modal-content .edit-time-pladge .form-group .text-green {
  color: #14C85C !important;
}

.modal-custom-2 .modal-content .edit-time-pladge .pleadge-info {
  margin-bottom: 40px;
}

.modal-custom-2 .modal-content .edit-time-pladge .pleadge-info p {
  font-size: 14px;
  line-height: 18px;
  color: #3A6BA4;
  margin-bottom: 20px;
}

.modal-custom-2 .modal-content .edit-time-pladge .suggest-div {
  margin-bottom: 20px;
  text-align: center;
}

.modal-custom-2 .modal-content .edit-time-pladge .suggest-div .text-link {
  margin: 0 auto;
  display: block;
  font-size: 12px;
  color: #3A6BA4;
  line-height: 20px;
  text-align: center;
  max-width: 200px;
}

.modal-custom-2 .modal-content .edit-time-pladge .div-career-save .btn-save {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  font-size: 16px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.modal-custom-2 .modal-content .edit-time-pladge .div-career-save .btn-save:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-custom-2 .modal-content .edit-time-pladge .div-career-save .btn-save:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (max-width: 767px) {
  .modal-custom .modal-dialog .modal-content .modal-body {
    padding: 0 30px;
  }
  .search-control {
    visibility: hidden;
  }
  .modal-custom-2 .modal-content .term-confdition {
    padding: 0 20px;
  }
  .modal-custom-2 .modal-content .welcome-content {
    padding: 10px 10px 10px 10px;
  }
  .modal-custom-2 .not-old-enough-box .not-enough-content {
    padding: 0 20px;
  }
  .modal-custom-2 .modal-content .email-sent-box .get-start a {
    font-size: 10px;
  }
  .modal-custom-2 .modal-content .email-sent-box .email-sent-content {
    padding: 0 20px;
  }
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    background-color: #3043FA;
    z-index: 999;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
    max-width: 110px;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 110px);
            flex: 0 0 calc(100% - 110px);
    max-width: calc(100% - 110px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
    max-width: 110px;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 110px);
            flex: 0 0 calc(100% - 110px);
    max-width: calc(100% - 110px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 100px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #1D61F6;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
    background-color: #ED5C37;
    color: #ffffff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
    background-color: #ffffff;
    color: #ED5C37;
  }
  .search-control {
    margin-right: 30px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #3043FA;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .profile-header li {
    margin-bottom: 20px;
  }
  .profile-header .dropdown-notification {
    padding: 20px 10px;
    width: 100%;
    position: relative;
    right: unset;
    margin-top: 10px;
    -webkit-animation: unset;
            animation: unset;
  }
  .profile-header .dropdown-notification ul li {
    margin-bottom: 10px;
  }
  .footer-section {
    padding: 60px 0;
  }
  .footer-section .footer-content {
    margin-bottom: 20px;
  }
  .footer-section .bl-1:after {
    display: none;
  }
  .footer-section .bl-1 .footer-content {
    padding-left: 0;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    background-color: #3043FA;
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #3043FA;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .profile-header li {
    margin-bottom: 20px;
  }
  .profile-header .dropdown-notification {
    padding: 20px 10px;
    width: 100%;
    position: relative;
    right: unset;
    margin-top: 10px;
    -webkit-animation: unset;
            animation: unset;
  }
  .profile-header .dropdown-notification ul li {
    margin-bottom: 10px;
  }
  .footer-section {
    padding: 60px 0;
  }
  .footer-section .footer-store-content {
    margin-top: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-section .footer-store-content .store-button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #3043FA;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    width: 95%;
    padding: 0 10px;
  }
  .profile-header li {
    margin-bottom: 20px;
  }
  .profile-header .dropdown-notification {
    padding: 20px 10px;
    width: 100%;
    position: relative;
    right: unset;
    margin-top: 10px;
    -webkit-animation: unset;
            animation: unset;
  }
  .profile-header .dropdown-notification ul li {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=custom.css.map */