@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background-color: #ffffff;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}

@mixin btn-blue-light {
    color: #0075ff;
    background: #DEF2FF;
    border: 1px solid #0075FF;
    box-sizing: border-box;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;

    
    &:hover {
    background: #DEF2FF;
    box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background: #DEF2FF;
        box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
        transform: translateY(-3px);
    }
}


.edit-profile-section {
    padding: 40px 0 20px 0;
    background-color: #ffffff;

    .edit-profile-box {
        position: relative;
        border-radius: 20px;
        padding: 20px 135px;
        .get-start {
            position: absolute;
            top: 10px;
            right: 10px;
            a {
                font-size: 12px;
                line-height: 20px;
                color: #6C95FF;
                font-family: 'metropolismedium';
                text-decoration: none;
            }
        }

        .form-editprofile{
            margin-top: 50px;
        }

        .form-input{
            p {
                font-size: 12px;
                color: #3A6BA4;
                font-family: 'metropolismedium';
            }

            .form-group {
                background: #FFFFFF;
                box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
                border-radius: 15px;
                padding: 15px 24px 26px 24px;
                label {
                    color: #3A6BA4;
                    font-size: 12px;
                    margin-bottom: 11px;
                    font-family: 'metropolismedium';
                }
                .form-control {
                    background: #DEF2FF;
                    border: 1px solid rgba(0, 117, 255, 0.4);
                    box-sizing: border-box;
                    border-radius: 5px;
                }
            }
        }
    }

}

    
.heading-top{
    margin-bottom: 70px;
    h3 {
        font-size: 14px;
        line-height: 23px;
        color: #0075FF;
        font-family: 'metropolismedium';
        text-align: center;
    }
}

.btn-groups{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 35px;
    .btn-blue {
        @include btn-blue();
        background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        border-radius: 10px;
   
    }
    .btn-blue-light {
        @include btn-blue-light();
        background: #DEF2FF;
        border: 1px solid #0075FF;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .btn {
        max-width: 48%;
        height: 45px;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        font-family: 'metropolismedium';
    }

    
}

.edit-profile-box{
    padding: 50px 0 20px 0;
}
.profile-detail{
    margin-bottom: 50px;
    width: 250px;
    text-align: center;
    position: relative;
    top: 0px;
    margin: 0 auto;
    height: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
.profile-photo {
    position: relative;
    width: 180px;
    height: 180px;
    min-width: 180px;
    display: flex;
    align-items: center;
    .filelabel-icon{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 5px solid #ffffff;
        background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
        border: 5px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        right: -5px;
        bottom: -5px;
        z-index: 10;
        cursor: pointer;
        img {
            width: 24px;
            height: 23px;
        }
    }
}

.profile-border{
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    z-index: 0 ;
    &::after {
        content: '';
        position: absolute;
        top: -10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -10px;
        right: 0;
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        min-height: 200px;
        border-radius: 100%;
        z-index: 2;
        background: #C4C4C4;
    }
    &::before {
        content: 'Add your profile picture';  
        z-index: 3;
        position: absolute;
        width: 180px;
        height: 180px;
        min-width: 180px;
        border-radius: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1529FA;
        font-size: 12px;
        font-family: 'metropolissemi_bold';
    }
    // .profile-border {
        // overflow: hidden;
        // width: 198px;
        // height: 214px;
        
    // }
    img {
        width: 100%;
        height: auto;
        z-index: 9;
        position: relative;
      
    }
}    
}

.edit-info-form{
    padding: 25px 40px;
    width: 100%;

    .form-group-text {
        label {
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            span {
                color: #0075FF;
                font-size: 16px;
                font-family: 'metropolissemi_bold_italic';
            }
        } 
    }

    .form-group {
        margin-bottom: 15px;

        label {
            font-size: 16px;
            line-height: 27px;
            color: #3A6BA4;
            font-family: 'metropolissemi_bold';
            display: block;
        }

        .form-control {
            background: #F7FCFF;
            border: 1px solid rgba(0, 117, 255, 0.4);
            box-sizing: border-box;
            border-radius: 10px;
        }

         position: relative;
            .plus-icon {
                position: absolute;
                right: 15px;
                top: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                 img {
                     width: 29px;
                     height: 32px;
                 }
            }

        .bootstrap-tagsinput {
            background: #F7FCFF;
            border: 1px solid rgba(0, 117, 255, 0.4);
            box-sizing: border-box;
            border-radius: 10px;
            padding: 10px;
            line-height: 22px;
            vertical-align: middle;
            width: 100%;
            .tag{
                padding: 5px 10px;
                background: #293CFF;
                border-radius: 10px;
                height: 32px;
                margin-bottom: 10px;
                display: inline-block;
            }
            input {
                display: inline;
                width: 60%;
            }
           
        }
    }
}

@media (max-width: 767px) {
  
    .edit-profile-box {
        padding: 20px 20px;
    }

    .btn-groups {
        padding: 40px 20px;
    }
}