.edit-profile-section {
  padding: 40px 0 20px 0;
  background-color: #ffffff;
}

.edit-profile-section .edit-profile-box {
  position: relative;
  border-radius: 20px;
  padding: 20px 135px;
}

.edit-profile-section .edit-profile-box .get-start {
  position: absolute;
  top: 10px;
  right: 10px;
}

.edit-profile-section .edit-profile-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #6C95FF;
  font-family: 'metropolismedium';
  text-decoration: none;
}

.edit-profile-section .edit-profile-box .form-editprofile {
  margin-top: 50px;
}

.edit-profile-section .edit-profile-box .form-input p {
  font-size: 12px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.edit-profile-section .edit-profile-box .form-input .form-group {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  padding: 15px 24px 26px 24px;
}

.edit-profile-section .edit-profile-box .form-input .form-group label {
  color: #3A6BA4;
  font-size: 12px;
  margin-bottom: 11px;
  font-family: 'metropolismedium';
}

.edit-profile-section .edit-profile-box .form-input .form-group .form-control {
  background: #DEF2FF;
  border: 1px solid rgba(0, 117, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.heading-top {
  margin-bottom: 70px;
}

.heading-top h3 {
  font-size: 14px;
  line-height: 23px;
  color: #0075FF;
  font-family: 'metropolismedium';
  text-align: center;
}

.btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 35px;
}

.btn-groups .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 10px;
}

.btn-groups .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-groups .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-groups .btn-blue-light {
  color: #0075ff;
  background: #DEF2FF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  background: #DEF2FF;
  border: 1px solid #0075FF;
  box-sizing: border-box;
  border-radius: 10px;
}

.btn-groups .btn-blue-light:hover {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-groups .btn-blue-light:focus {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-groups .btn {
  max-width: 48%;
  height: 45px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  font-family: 'metropolismedium';
}

.edit-profile-box {
  padding: 50px 0 20px 0;
}

.profile-detail {
  margin-bottom: 50px;
  width: 250px;
  text-align: center;
  position: relative;
  top: 0px;
  margin: 0 auto;
  height: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-detail .profile-photo {
  position: relative;
  width: 180px;
  height: 180px;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-detail .profile-photo .filelabel-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  border: 5px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  right: -5px;
  bottom: -5px;
  z-index: 10;
  cursor: pointer;
}

.profile-detail .profile-photo .filelabel-icon img {
  width: 24px;
  height: 23px;
}

.profile-detail .profile-border {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  z-index: 0;
}

.profile-detail .profile-border::after {
  content: '';
  position: absolute;
  top: -10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -10px;
  right: 0;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  min-height: 200px;
  border-radius: 100%;
  z-index: 2;
  background: #C4C4C4;
}

.profile-detail .profile-border::before {
  content: 'Add your profile picture';
  z-index: 3;
  position: absolute;
  width: 180px;
  height: 180px;
  min-width: 180px;
  border-radius: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1529FA;
  font-size: 12px;
  font-family: 'metropolissemi_bold';
}

.profile-detail .profile-border img {
  width: 100%;
  height: auto;
  z-index: 9;
  position: relative;
}

.edit-info-form {
  padding: 25px 40px;
  width: 100%;
}

.edit-info-form .form-group-text label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.edit-info-form .form-group-text label span {
  color: #0075FF;
  font-size: 16px;
  font-family: 'metropolissemi_bold_italic';
}

.edit-info-form .form-group {
  margin-bottom: 15px;
  position: relative;
}

.edit-info-form .form-group label {
  font-size: 16px;
  line-height: 27px;
  color: #3A6BA4;
  font-family: 'metropolissemi_bold';
  display: block;
}

.edit-info-form .form-group .form-control {
  background: #F7FCFF;
  border: 1px solid rgba(0, 117, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.edit-info-form .form-group .plus-icon {
  position: absolute;
  right: 15px;
  top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-info-form .form-group .plus-icon img {
  width: 29px;
  height: 32px;
}

.edit-info-form .form-group .bootstrap-tagsinput {
  background: #F7FCFF;
  border: 1px solid rgba(0, 117, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  line-height: 22px;
  vertical-align: middle;
  width: 100%;
}

.edit-info-form .form-group .bootstrap-tagsinput .tag {
  padding: 5px 10px;
  background: #293CFF;
  border-radius: 10px;
  height: 32px;
  margin-bottom: 10px;
  display: inline-block;
}

.edit-info-form .form-group .bootstrap-tagsinput input {
  display: inline;
  width: 60%;
}

@media (max-width: 767px) {
  .edit-profile-box {
    padding: 20px 20px;
  }
  .btn-groups {
    padding: 40px 20px;
  }
}
/*# sourceMappingURL=edit-profile-information.css.map */