@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background-color: #ffffff;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}

@mixin btn-blue-light {
    color: #0075ff;
    background: #DEF2FF;
    border: 1px solid #0075FF;
    box-sizing: border-box;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;

    
    &:hover {
    background: #DEF2FF;
    box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background: #DEF2FF;
        box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
        transform: translateY(-3px);
    }
}


.email-sent-section {
    padding: 40px 0 200px 0;
    background-color: #F2F9FD;
    .email-sent-box{
        background: #FFFFFF;
        border: 1px solid #6C95FF;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        .get-start{
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 10px;
            a {
                font-size: 12px;
                line-height: 20px;
                color: #0075FF;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'metropolisbold';
            }
        }
        .signup-circle {
            height: 70px;
            width: 70px;
            background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
        }

       
        h2 {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #0099FF;
            font-family: 'metropolissemi_bold';
            margin-bottom: 40px;
        }

        .email-sent-content{
            text-align: center;
            padding: 0 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 100px;
            p {
                text-align: center;
                color: #3A6BA4;
                font-size: 14px;
                line-height: 23px;
                font-family: 'metropolismedium';
            }

            .email-sent-img{
                margin-top: 20px;
                height: 48px;
                width: 48px;
                margin-bottom: 100px;
                img {
                    width: 100%;
                }
            }

           

        }

        .resend {
            .resend-btn {
             color: #293CFF;
             font-size: 14px;
             line-height: 26px;
             text-align: center;
             font-family: 'metropolisbold';
             text-decoration: none;

             &:hover {
                 color: #1D61F6;
             }
             span {
                 display: block;
             }
            }
        }


    }

}

@media (max-width: 767px) {
    .email-sent-section {
        .email-sent-box {
            .email-sent-content {
                padding: 0 20px;
                margin-bottom: 100px;
            }
        }
    }
}