.email-sent-section {
  padding: 40px 0 200px 0;
  background-color: #F2F9FD;
}

.email-sent-section .email-sent-box {
  background: #FFFFFF;
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.email-sent-section .email-sent-box .get-start {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

.email-sent-section .email-sent-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #0075FF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'metropolisbold';
}

.email-sent-section .email-sent-box .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 50px;
}

.email-sent-section .email-sent-box .signup-circle img {
  width: 100%;
}

.email-sent-section .email-sent-box h2 {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0099FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 40px;
}

.email-sent-section .email-sent-box .email-sent-content {
  text-align: center;
  padding: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.email-sent-section .email-sent-box .email-sent-content p {
  text-align: center;
  color: #3A6BA4;
  font-size: 14px;
  line-height: 23px;
  font-family: 'metropolismedium';
}

.email-sent-section .email-sent-box .email-sent-content .email-sent-img {
  margin-top: 20px;
  height: 48px;
  width: 48px;
  margin-bottom: 100px;
}

.email-sent-section .email-sent-box .email-sent-content .email-sent-img img {
  width: 100%;
}

.email-sent-section .email-sent-box .resend .resend-btn {
  color: #293CFF;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-family: 'metropolisbold';
  text-decoration: none;
}

.email-sent-section .email-sent-box .resend .resend-btn:hover {
  color: #1D61F6;
}

.email-sent-section .email-sent-box .resend .resend-btn span {
  display: block;
}

@media (max-width: 767px) {
  .email-sent-section .email-sent-box .email-sent-content {
    padding: 0 20px;
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=email-sent.css.map */