
@mixin btn-blue {
    color: #ffffff;
    background: rgb(48, 67, 250);
    box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
    border-radius: 15px;
    min-height: 56px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 16px;
    border: 1px solid #3043FA;
    text-decoration: none;
    
    &:hover {
    background-color: #3043FA;
    box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #3043FA;
        box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    min-height: 56px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 16px;
    border: 1px solid #ffffff;
    text-decoration: none;
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
        transform: translateY(-3px);
    }
}

    .banner-home-section {   
        // min-height: 540px;
        position: relative;
        .bg-home-banner {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.45;
            background-image: url(../images/banner-home.png);
            background-position: center;
            background-size: cover;
        }
        &:after {
            background-color: rgba(48, 67, 250, 0.25);
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
        }

        .banner-caption{
            padding: 35px 0 100px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            // min-height: 540px;
            .store-button{
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                width: 100%;
                margin-bottom: 32px;
                z-index: 9;
                position: relative;
                .btn-store {
                    width: 147px;
                    height: 43px;
                    display: block;
                    padding: 0;
                    border-radius: 10px;
                    overflow: hidden;
                    transition: all 0.8s;
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
                        transform: translateY(-3px);
                        transition: all 0.8s;
                    }

                    &:focus {
                        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
                        transform: translateY(-3px);
                        transition: all 0.8s;
                    }
                }
            }
            .banner-content{

            

                .banner-content-inner {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, #1529FA 10.46%, #6C95FF 100%);
                    opacity: 0.87;
                    z-index: 1;
                }
                max-width: 668px;
                width: 100%;
                min-height: 382px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                padding: 45px 60px;
                text-align: center;
                .banner-info {
                    position: relative;
                    z-index: 9;
                    h1 {
                        font-size: 40px;
                        line-height: 42px;
                        color: #ffffff;
                        font-family: 'metropolisbold';
                        span{
                            color: #6AD06D;
                        }
                        margin-bottom: 40px;
                    }
        
                    p {
                        font-size: 16px;
                        line-height: 28px;
                        color: #ffffff;
                        margin-bottom: 40px;
                        span{
                            color: #6AD06D;
                            text-transform: uppercase;
                            font-family: 'metropolismedium';
                        }
                    }
        
                    .btn-banner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .btn-find-mentor {
                            @include btn-blue();
                        }
                        .btn-be-mentor {
                            @include btn-white();
                        }
        
                        a {
                            margin: 0 10px;
                            padding: 12px 42px;
                            font-family: 'metropolisbold';
                            border-radius: 5px !important;
                        }
                    }
                }
            
            }
        }
    }

    .mentor-score-section {
        background-color: #F8F8FE;

        .br-1 {
            position: relative;
            &::after {
                content: "";
                height: 60%;
                background-color: #C0CAD3;
                width: 1px;
                display: block;
                right: 0px;
                top: 20%;
                position: absolute;

            }
            &:last-child {
                &::after {
                display: none; 
                }
            }
        }
        .score-info-box {
            padding: 26px 20px;
            width: 100%;
            text-align: center;
        
            h3 {
                font-size: 24px;
                line-height: 30px;
                color: #7496F8;
                font-family: 'metropolisbold';
                margin-bottom: 10px;
            }
            h2 {
                color: #3043FA;
                font-size: 54px;
                line-height: 60px;
                font-family: 'metropolisbold';
            }
            p{
                font-size: 14px;
                line-height: 16px;
                color: #7B7B7B;
                font-family: 'metropolisbold';
                margin-bottom: 5px;
            }
            h4{
                font-size: 20px;
                line-height: 26px;
                color: #3043FA;
                font-family: 'metropolissemi_bold';
                text-transform: uppercase;
            }
        }
    }

    .want-to-donate-section{
        background-color: #ffffff;
        padding: 50px 0;

        .want-to-donate{
            background-color: #FEFCFA;
            min-height: 150px;
            padding: 36px 40px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin-bottom: 120px;

            .icon-donate {
                width: 66px;
                height: 66px;

                img {
                    width: 100%;
                }
                margin-right: 40px;
            }

            .donate-content{
                display: flex;
                align-items: center;
                justify-content: flex-start;

                h3 {
                    margin: 0;
                    font-size: 20px;
                    line-height: 26px;
                    font-family: 'metropolisbold';
                    color: #3043FA;
                }
            }

            .donate-content-right{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                min-height: 66px;
                p{
                    font-size: 16px;
                    line-height: 24px;
                    color: #A1A1A1;
                    font-family: 'metropolissemi_bold';
                    margin-right: 50px;
                    margin-bottom: 0;
                }

                .btn-yes {
                    @include btn-blue();
                    background: linear-gradient(180deg, #1529FA 10.45%, #6C95FF 100%);
                    min-width: 216px;
                }
            }
        }

        .doante-expert-content{
        
            h2 {
                color: #2F42FA;
                font-size: 36px;
                line-height: 42px;
                font-family: 'metropolissemi_bold';
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 50px;
            }

            p {
                font-size: 26px;
                line-height: 32px;
                color: #000000;
                text-align: center;
                font-family: 'metropolisbold_italic';
            }

            h4 {
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                text-align: right;
            }
        }
    }

    .popular-section{
        background-color: #F8F8FE;
        padding: 56px 0;

        .popular-heading{
            h2 {
                color: #000000;
                font-size: 24px;
                line-height: 30px;
                font-family: 'metropolisbold';
                text-align: center;
                margin-bottom: 25px;
            }
        }
        
        .popular-mentor-list{
            margin-bottom: 50px;
        }
        .popular-mentor-box{
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            margin-bottom: 20px;
            .mentor-img{       
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 185px;

                }
            }

            .mentor-content{
                padding: 20px 10px;
                h3 {
                    font-size: 20px;
                    line-height: 26px;
                    font-family: 'metropolissemi_bold';
                    color: #000000;
                    margin-bottom: 13px;
                }

                .mentor-info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    

                    h2 {
                    font-size: 20px;
                    line-height: 26px;
                    font-family: 'metropolissemi_bold';
                    color: #000000; 
                    }

                    h3 {
                        font-size: 12px;
                        color: #838383;
                        line-height: 14px;
                        font-family: 'metropolismedium';
                        margin-bottom: 11px;
                    }
                }
            }
        }

        .popular-topics-box{
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            margin-bottom: 30px;
            .topics-img{       
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 185px;

                }
            }

            .topics-content{
                padding: 30px 10px;
                .topics-info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    

                
                .topics-left{
                    h2 {
                        font-size: 20px;
                        line-height: 26px;
                        font-family: 'metropolissemi_bold';
                        color: #000000;  
                        margin-bottom: 0;
                    }
                }
                .topics-right{
                    h2 {
                        font-size: 18px;
                        line-height: 26px;
                        font-family: 'metropolismedium';
                        color: #838383; 
                        margin-bottom: 0;
                    }
                }
                }
            }
        }
    }

    .mentor-made-easier-section {
        overflow: hidden;
        padding: 65px 0 100px 0;
        background-color: #ffffff;
        .mentore-easier-heading{
            h2 {
            color: #000000;
            font-size: 24px;
            line-height: 30px;
            font-family: 'metropolisbold';
            text-align: center;
            margin-bottom: 60px;
            }
        }

        .easier-box{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 15px 30px;
            .img-easier{
                width: 112px;
                height: 112px;
                margin-bottom: 40px;
                img {
                    width: 100%;
                }
            }

            .content {
                p{
                    color: #394A58;
                    font-size: 16px;
                    line-height: 20px;
                    font-family: 'metropolisbold';
                }
            }
        }
    }

    .choose-the-offer-section{
        padding: 60px 0 90px 0;
        background-color: #F8F8FE;
        overflow: hidden;
        .choose-offer-heading{
            h2 {
                color: #000000;
                font-size: 24px;
                line-height: 30px;
                font-family: 'metropolisbold';
                text-align: center;
                margin-bottom: 36px;
            }
        }

        .offerign-conatiner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 17px;
            columns: 5;
            .offering-box {
                text-align: center;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                border: 2px solid #2F42FA;
                margin-bottom: 20px;
                .offering-header{
                    padding: 50px 0 20px;
                    border-bottom: 1px solid #2F42FA;
                    h3 {
                        font-size: 20px;
                        color: #000000;
                        line-height: 26px;
                        font-family: 'metropolisbold';
                        margin-bottom: 30px;
                    }
                    .btn-select {
                        background-color: #2F42FA;
                        color: #ffffff;
                        margin-bottom: 31px;
                        width: 114px;
                        height: 38px;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.3px;
                        font-family: 'metropolismedium';
                        transition: all 0.8s;
                        &:hover {
                            box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
                            transform: translateY(-3px);
                            transition: all 0.8s;
                            }
                            &:focus {
                            box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
                            transform: translateY(-3px);
                        }
                    }

                    p {
                        color: #838383;
                        font-size: 18px;
                        line-height: 24px;
                        font-family: 'metropolismedium';
                        margin-bottom: 0;
                    }

                    .contact-us {
                        display: block;
                        font-size: 14px;
                        line-height: 22px;
                        color: #0075FF;
                        text-decoration: none;
                    }
                }

                .offering-body{
                    padding: 20px 20px;
                    h3 {
                        font-size: 14px;
                        line-height: 20px;
                        font-family: 'metropolismedium';
                        color: #000000;
                        text-align: left;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        li {
                            list-style: none;
                            font-size: 14px;
                            line-height: 18px;
                            margin-bottom: 30px;
                            text-align: left;
                            font-family: 'metropolismedium';
                            color: #465562;
                            position: relative;
                            padding-left: 15px;
                            &::before  {
                                content: '\f00c ';
                                position: absolute;
                                left: -5px;
                                top: 3px;
                                height: 20px;
                                color: #2F42FA;
                                width: 20px;
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: 20px;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                            }
                        }

                        
                    }

                    .learn-more {
                        font-size: 14px;
                        color: #2F42FA;
                        font-family: 'metropolisbold';
                        line-height: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .home-page {
        padding-bottom: 60px;
        background-color: #ffffff;
    }




@media (max-width: 767px) {

    .banner-home-section {
        .banner-caption {
            .store-button {
                justify-content: center;
            }

            .banner-content {
                padding: 45px 30px;
                .banner-info {
                    h1 {
                        font-size: 28px;
                        line-height: 36px;
                    }

                    .btn-banner{
                        flex-direction: column;
                        .btn {
                            white-space: nowrap;
                            margin: 0 0 10px 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    .want-to-donate-section {
        .doante-expert-content {
            h2 {
                font-size: 26px;
                line-height: 36px;
                margin-bottom: 30px;
            }

            p {
                font-size: 24px;
                line-height: 30px;
            }

            h4 {
                font-size: 14px;
            }
        }

        .want-to-donate {
            
                .donate-content-right {
                    flex-direction: column;
            
                    p {
                        margin-bottom: 20px;
                        margin-right: 0;
                        text-align: center;
                    }
                    .btn-yes{
                        width: 100%;
                        max-width: unset;
                    }
                }
                .donate-content {
                    margin-bottom: 20px;
                    white-space: nowrap;
                }
            }
        
    }
    
    .choose-the-offer-section {
        .offerign-conatiner {
            grid-template-columns: 1fr;
            .offering-box {
                margin-bottom: 20px;
            }
        }
    }
    
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
    .want-to-donate-section {
        .want-to-donate {
            .donate-content {
                margin-bottom: 20px;
            }
        }
    }

    .choose-the-offer-section {
        .offerign-conatiner {
            grid-template-columns: 1fr 1fr 1fr;
            .offering-box {
                
            }
        }
    }    

    .sub-header ul li a {
        font-size: 12px;
        padding: 12px 8px;
    }
}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) { 
    .choose-the-offer-section {
        .offerign-conatiner {
            grid-template-columns: 1fr 1fr 1fr;
            .offering-box {
                
            }
        }
    }
}

