.banner-home-section {
  position: relative;
}

.banner-home-section .bg-home-banner {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.45;
  background-image: url(../images/banner-home.png);
  background-position: center;
  background-size: cover;
}

.banner-home-section:after {
  background-color: rgba(48, 67, 250, 0.25);
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-home-section .banner-caption {
  padding: 35px 0 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.banner-home-section .banner-caption .store-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-bottom: 32px;
  z-index: 9;
  position: relative;
}

.banner-home-section .banner-caption .store-button .btn-store {
  width: 147px;
  height: 43px;
  display: block;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-right: 8px;
}

.banner-home-section .banner-caption .store-button .btn-store:last-child {
  margin-right: 0;
}

.banner-home-section .banner-caption .store-button .btn-store img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-home-section .banner-caption .store-button .btn-store:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-home-section .banner-caption .store-button .btn-store:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-home-section .banner-caption .banner-content {
  max-width: 668px;
  width: 100%;
  min-height: 382px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 60px;
  text-align: center;
}

.banner-home-section .banner-caption .banner-content .banner-content-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.46%, #1529FA), to(#6C95FF));
  background: linear-gradient(180deg, #1529FA 10.46%, #6C95FF 100%);
  opacity: 0.87;
  z-index: 1;
}

.banner-home-section .banner-caption .banner-content .banner-info {
  position: relative;
  z-index: 9;
}

.banner-home-section .banner-caption .banner-content .banner-info h1 {
  font-size: 40px;
  line-height: 42px;
  color: #ffffff;
  font-family: 'metropolisbold';
  margin-bottom: 40px;
}

.banner-home-section .banner-caption .banner-content .banner-info h1 span {
  color: #6AD06D;
}

.banner-home-section .banner-caption .banner-content .banner-info p {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 40px;
}

.banner-home-section .banner-caption .banner-content .banner-info p span {
  color: #6AD06D;
  text-transform: uppercase;
  font-family: 'metropolismedium';
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn-find-mentor {
  color: #ffffff;
  background: #3043fa;
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  border-radius: 15px;
  min-height: 56px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #3043FA;
  text-decoration: none;
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn-find-mentor:hover {
  background-color: #3043FA;
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn-find-mentor:focus {
  background-color: #3043FA;
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn-be-mentor {
  color: #000000;
  background: white;
  -webkit-box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  min-height: 56px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn-be-mentor:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn-be-mentor:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.banner-home-section .banner-caption .banner-content .banner-info .btn-banner a {
  margin: 0 10px;
  padding: 12px 42px;
  font-family: 'metropolisbold';
  border-radius: 5px !important;
}

.mentor-score-section {
  background-color: #F8F8FE;
}

.mentor-score-section .br-1 {
  position: relative;
}

.mentor-score-section .br-1::after {
  content: "";
  height: 60%;
  background-color: #C0CAD3;
  width: 1px;
  display: block;
  right: 0px;
  top: 20%;
  position: absolute;
}

.mentor-score-section .br-1:last-child::after {
  display: none;
}

.mentor-score-section .score-info-box {
  padding: 26px 20px;
  width: 100%;
  text-align: center;
}

.mentor-score-section .score-info-box h3 {
  font-size: 24px;
  line-height: 30px;
  color: #7496F8;
  font-family: 'metropolisbold';
  margin-bottom: 10px;
}

.mentor-score-section .score-info-box h2 {
  color: #3043FA;
  font-size: 54px;
  line-height: 60px;
  font-family: 'metropolisbold';
}

.mentor-score-section .score-info-box p {
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
  font-family: 'metropolisbold';
  margin-bottom: 5px;
}

.mentor-score-section .score-info-box h4 {
  font-size: 20px;
  line-height: 26px;
  color: #3043FA;
  font-family: 'metropolissemi_bold';
  text-transform: uppercase;
}

.want-to-donate-section {
  background-color: #ffffff;
  padding: 50px 0;
}

.want-to-donate-section .want-to-donate {
  background-color: #FEFCFA;
  min-height: 150px;
  padding: 36px 40px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 120px;
}

.want-to-donate-section .want-to-donate .icon-donate {
  width: 66px;
  height: 66px;
  margin-right: 40px;
}

.want-to-donate-section .want-to-donate .icon-donate img {
  width: 100%;
}

.want-to-donate-section .want-to-donate .donate-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.want-to-donate-section .want-to-donate .donate-content h3 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: 'metropolisbold';
  color: #3043FA;
}

.want-to-donate-section .want-to-donate .donate-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 66px;
}

.want-to-donate-section .want-to-donate .donate-content-right p {
  font-size: 16px;
  line-height: 24px;
  color: #A1A1A1;
  font-family: 'metropolissemi_bold';
  margin-right: 50px;
  margin-bottom: 0;
}

.want-to-donate-section .want-to-donate .donate-content-right .btn-yes {
  color: #ffffff;
  background: #3043fa;
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  border-radius: 15px;
  min-height: 56px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #3043FA;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.45%, #1529FA), to(#6C95FF));
  background: linear-gradient(180deg, #1529FA 10.45%, #6C95FF 100%);
  min-width: 216px;
}

.want-to-donate-section .want-to-donate .donate-content-right .btn-yes:hover {
  background-color: #3043FA;
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.want-to-donate-section .want-to-donate .donate-content-right .btn-yes:focus {
  background-color: #3043FA;
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.want-to-donate-section .doante-expert-content h2 {
  color: #2F42FA;
  font-size: 36px;
  line-height: 42px;
  font-family: 'metropolissemi_bold';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.want-to-donate-section .doante-expert-content p {
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  text-align: center;
  font-family: 'metropolisbold_italic';
}

.want-to-donate-section .doante-expert-content h4 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-align: right;
}

.popular-section {
  background-color: #F8F8FE;
  padding: 56px 0;
}

.popular-section .popular-heading h2 {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-family: 'metropolisbold';
  text-align: center;
  margin-bottom: 25px;
}

.popular-section .popular-mentor-list {
  margin-bottom: 50px;
}

.popular-section .popular-mentor-box {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin-bottom: 20px;
}

.popular-section .popular-mentor-box .mentor-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 185px;
}

.popular-section .popular-mentor-box .mentor-content {
  padding: 20px 10px;
}

.popular-section .popular-mentor-box .mentor-content h3 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'metropolissemi_bold';
  color: #000000;
  margin-bottom: 13px;
}

.popular-section .popular-mentor-box .mentor-content .mentor-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-section .popular-mentor-box .mentor-content .mentor-info h2 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'metropolissemi_bold';
  color: #000000;
}

.popular-section .popular-mentor-box .mentor-content .mentor-info h3 {
  font-size: 12px;
  color: #838383;
  line-height: 14px;
  font-family: 'metropolismedium';
  margin-bottom: 11px;
}

.popular-section .popular-topics-box {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin-bottom: 30px;
}

.popular-section .popular-topics-box .topics-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 185px;
}

.popular-section .popular-topics-box .topics-content {
  padding: 30px 10px;
}

.popular-section .popular-topics-box .topics-content .topics-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-section .popular-topics-box .topics-content .topics-info .topics-left h2 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'metropolissemi_bold';
  color: #000000;
  margin-bottom: 0;
}

.popular-section .popular-topics-box .topics-content .topics-info .topics-right h2 {
  font-size: 18px;
  line-height: 26px;
  font-family: 'metropolismedium';
  color: #838383;
  margin-bottom: 0;
}

.mentor-made-easier-section {
  overflow: hidden;
  padding: 65px 0 100px 0;
  background-color: #ffffff;
}

.mentor-made-easier-section .mentore-easier-heading h2 {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-family: 'metropolisbold';
  text-align: center;
  margin-bottom: 60px;
}

.mentor-made-easier-section .easier-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 30px;
}

.mentor-made-easier-section .easier-box .img-easier {
  width: 112px;
  height: 112px;
  margin-bottom: 40px;
}

.mentor-made-easier-section .easier-box .img-easier img {
  width: 100%;
}

.mentor-made-easier-section .easier-box .content p {
  color: #394A58;
  font-size: 16px;
  line-height: 20px;
  font-family: 'metropolisbold';
}

.choose-the-offer-section {
  padding: 60px 0 90px 0;
  background-color: #F8F8FE;
  overflow: hidden;
}

.choose-the-offer-section .choose-offer-heading h2 {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-family: 'metropolisbold';
  text-align: center;
  margin-bottom: 36px;
}

.choose-the-offer-section .offerign-conatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  -webkit-columns: 5;
          columns: 5;
}

.choose-the-offer-section .offerign-conatiner .offering-box {
  text-align: center;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #2F42FA;
  margin-bottom: 20px;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header {
  padding: 50px 0 20px;
  border-bottom: 1px solid #2F42FA;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header h3 {
  font-size: 20px;
  color: #000000;
  line-height: 26px;
  font-family: 'metropolisbold';
  margin-bottom: 30px;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header .btn-select {
  background-color: #2F42FA;
  color: #ffffff;
  margin-bottom: 31px;
  width: 114px;
  height: 38px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: 'metropolismedium';
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header .btn-select:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header .btn-select:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
          box-shadow: 0px 1px 12px rgba(48, 67, 250, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header p {
  color: #838383;
  font-size: 18px;
  line-height: 24px;
  font-family: 'metropolismedium';
  margin-bottom: 0;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-header .contact-us {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #0075FF;
  text-decoration: none;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-body {
  padding: 20px 20px;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-body h3 {
  font-size: 14px;
  line-height: 20px;
  font-family: 'metropolismedium';
  color: #000000;
  text-align: left;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-body ul {
  margin: 0;
  padding: 0;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-body ul li {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'metropolismedium';
  color: #465562;
  position: relative;
  padding-left: 15px;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-body ul li::before {
  content: '\f00c ';
  position: absolute;
  left: -5px;
  top: 3px;
  height: 20px;
  color: #2F42FA;
  width: 20px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.choose-the-offer-section .offerign-conatiner .offering-box .offering-body .learn-more {
  font-size: 14px;
  color: #2F42FA;
  font-family: 'metropolisbold';
  line-height: 20px;
  text-decoration: none;
}

.home-page {
  padding-bottom: 60px;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .banner-home-section .banner-caption .store-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-home-section .banner-caption .banner-content {
    padding: 45px 30px;
  }
  .banner-home-section .banner-caption .banner-content .banner-info h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .banner-home-section .banner-caption .banner-content .banner-info .btn-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-home-section .banner-caption .banner-content .banner-info .btn-banner .btn {
    white-space: nowrap;
    margin: 0 0 10px 0;
    width: 100%;
  }
  .want-to-donate-section .doante-expert-content h2 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .want-to-donate-section .doante-expert-content p {
    font-size: 24px;
    line-height: 30px;
  }
  .want-to-donate-section .doante-expert-content h4 {
    font-size: 14px;
  }
  .want-to-donate-section .want-to-donate .donate-content-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .want-to-donate-section .want-to-donate .donate-content-right p {
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }
  .want-to-donate-section .want-to-donate .donate-content-right .btn-yes {
    width: 100%;
    max-width: unset;
  }
  .want-to-donate-section .want-to-donate .donate-content {
    margin-bottom: 20px;
    white-space: nowrap;
  }
  .choose-the-offer-section .offerign-conatiner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .choose-the-offer-section .offerign-conatiner .offering-box {
    margin-bottom: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .want-to-donate-section .want-to-donate .donate-content {
    margin-bottom: 20px;
  }
  .choose-the-offer-section .offerign-conatiner {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .sub-header ul li a {
    font-size: 12px;
    padding: 12px 8px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .choose-the-offer-section .offerign-conatiner {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=index.css.map */