.login-section {
    padding: 40px 0 160px 0;
    background-color: #F2F9FD;
    .login-box{
        background: #FFFFFF;
        border: 1px solid #6C95FF;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .logo-circle {
            height: 70px;
            width: 70px;
            background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }

       
        h2 {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #0099FF;
            font-family: 'metropolissemi_bold';
            margin-bottom: 20px;
        }

        .form {
            width: 100%;
            padding: 0 88px;

            .form-group {
                margin-bottom: 20px;
            
                label {
                    font-size: 18px;
                    color: #181818;
                    letter-spacing: 0;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                .form-control {
                height: 50px;
                border-radius: 0;
                font-size: 18px;
                box-shadow: none;
                outline: 0;
                background: #FFFFFF;
                border: 1px solid #0075FF;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 14px;
                line-height: 14px;
                color: #0075FF;
                font-family: 'metropolismedium';
                    &::placeholder {
                        color: #0075FF;
                        font-family: 'metropolismedium';
                    }
                    &:focus {
                        border-color: #1D61F6 !important;
                        color: #0075FF;
                    }
                }
            }
        }

        .or-text {
            color: #1529FA;
            font-weight: 600;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            margin: 10px 0 20px 0;
            p {
                margin: 0;
            }
        }

        .login-group-btns {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            margin-bottom: 26px;
            .btn-text {
                padding: 3px 10px;
                margin-bottom: 6px;
                outline: 0;
                box-shadow: none;
                text-align: left;
                img {
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;   
                }
                font-size: 14px;
                line-height: 23px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #1976D2;
                font-family: 'metropolissemi_bold';
            }
        }
        

        .conutinue-div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 30px;
            .btn-continue{
                background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
                border: 1px solid #6C95FF;
                box-sizing: border-box;
                box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
                border-radius: 10px;
                max-width: 180px;
                width: 100%;
                font-size: 15px;
                line-height: 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #ffffff;
                height: 42px;
                transition: all 0.8s;
                font-family: 'metropolismedium';
                box-shadow: none;
                outline: none;
                &:hover {
                    box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
                    transform: translateY(-3px);
                    transition: all 0.8s;
                }

                &:focus {
                    box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
                    transform: translateY(-3px);
                    transition: all 0.8s;
                }
            }
        }

        .have-anaccount-div{
            .btn-have-account{
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #0075FF;
                font-family: 'metropolissemi_bold';
            }
        }

        .download-app{
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
                font-size: 14px;
                line-height: 23px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #000000;
                font-family: 'metropolissemi_bold';
            }

            .store-button{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                width: 100%;
                margin-bottom: 32px;
                z-index: 9;
                position: relative;
                .btn-store {
                    width: 147px;
                    height: 43px;
                    display: block;
                    padding: 0;
                    border-radius: 10px;
                    overflow: hidden;
                    transition: all 0.8s;
                    margin-bottom: 12px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
    
                    &:hover {
                        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
                        transform: translateY(-3px);
                        transition: all 0.8s;
                    }
    
                    &:focus {
                        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
                        transform: translateY(-3px);
                        transition: all 0.8s;
                    }
                }
            }
        }

        .email-fields {

            .form-group {
                margin-bottom: 0;
            }
            .btn-text {
                font-size: 14px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #1529FA;
                display: block;
                padding: 10px 0;
                font-family: 'metropolissemi_bold';
                box-shadow: none;
                outline: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .login-section {
        .login-box {
            .form {
                padding: 0 20px;
            }
        }
    }
}