.login-section {
  padding: 40px 0 160px 0;
  background-color: #F2F9FD;
}

.login-section .login-box {
  background: #FFFFFF;
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login-section .login-box .logo-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.login-section .login-box .logo-circle img {
  width: 100%;
}

.login-section .login-box h2 {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0099FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 20px;
}

.login-section .login-box .form {
  width: 100%;
  padding: 0 88px;
}

.login-section .login-box .form .form-group {
  margin-bottom: 20px;
}

.login-section .login-box .form .form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.login-section .login-box .form .form-group .form-control {
  height: 50px;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background: #FFFFFF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  color: #0075FF;
  font-family: 'metropolismedium';
}

.login-section .login-box .form .form-group .form-control::-webkit-input-placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.login-section .login-box .form .form-group .form-control:-ms-input-placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.login-section .login-box .form .form-group .form-control::-ms-input-placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.login-section .login-box .form .form-group .form-control::placeholder {
  color: #0075FF;
  font-family: 'metropolismedium';
}

.login-section .login-box .form .form-group .form-control:focus {
  border-color: #1D61F6 !important;
  color: #0075FF;
}

.login-section .login-box .or-text {
  color: #1529FA;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  margin: 10px 0 20px 0;
}

.login-section .login-box .or-text p {
  margin: 0;
}

.login-section .login-box .login-group-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}

.login-section .login-box .login-group-btns .btn-text {
  padding: 3px 10px;
  margin-bottom: 6px;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1976D2;
  font-family: 'metropolissemi_bold';
}

.login-section .login-box .login-group-btns .btn-text img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.login-section .login-box .conutinue-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.login-section .login-box .conutinue-div .btn-continue {
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 10px;
  max-width: 180px;
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  height: 42px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'metropolismedium';
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.login-section .login-box .conutinue-div .btn-continue:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.login-section .login-box .conutinue-div .btn-continue:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.login-section .login-box .have-anaccount-div .btn-have-account {
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0075FF;
  font-family: 'metropolissemi_bold';
}

.login-section .login-box .download-app {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-section .login-box .download-app p {
  font-size: 14px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
  font-family: 'metropolissemi_bold';
}

.login-section .login-box .download-app .store-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
  z-index: 9;
  position: relative;
}

.login-section .login-box .download-app .store-button .btn-store {
  width: 147px;
  height: 43px;
  display: block;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-bottom: 12px;
}

.login-section .login-box .download-app .store-button .btn-store:last-child {
  margin-bottom: 0;
}

.login-section .login-box .download-app .store-button .btn-store img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-section .login-box .download-app .store-button .btn-store:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.login-section .login-box .download-app .store-button .btn-store:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.login-section .login-box .email-fields .form-group {
  margin-bottom: 0;
}

.login-section .login-box .email-fields .btn-text {
  font-size: 14px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1529FA;
  display: block;
  padding: 10px 0;
  font-family: 'metropolissemi_bold';
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

@media (max-width: 767px) {
  .login-section .login-box .form {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=login.css.map */