.profile-banner-section {
  padding-top: 18px;
  background-color: #ffffff;
  margin-bottom: 70px;
}

.profile-banner-section .profile-new-content {
  padding: 50px 0 0 0;
}

.profile-banner-section .profile-new-content .profile-detail {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  top: 0px;
  height: auto;
  z-index: 10;
}

.profile-banner-section .profile-new-content .profile-detail .profile-photo {
  position: relative;
  width: 180px;
  height: 180px;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-banner-section .profile-new-content .profile-detail .profile-photo .filelabel-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  border: 5px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  right: -5px;
  bottom: -5px;
  z-index: 10;
  cursor: pointer;
}

.profile-banner-section .profile-new-content .profile-detail .profile-photo .filelabel-icon img {
  width: 24px;
  height: 23px;
}

.profile-banner-section .profile-new-content .profile-detail .profile-border {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  z-index: 0;
}

.profile-banner-section .profile-new-content .profile-detail .profile-border::after {
  content: '';
  position: absolute;
  top: -10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -10px;
  right: 0;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  min-height: 200px;
  border-radius: 100%;
  z-index: 2;
  background: #C4C4C4;
}

.profile-banner-section .profile-new-content .profile-detail .profile-border::before {
  content: 'Add your profile picture';
  z-index: 3;
  position: absolute;
  width: 180px;
  height: 180px;
  min-width: 180px;
  border-radius: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1529FA;
  font-size: 12px;
  font-family: 'metropolissemi_bold';
}

.profile-banner-section .profile-new-content .profile-detail .profile-border img {
  width: 100%;
  height: auto;
  z-index: 9;
  position: relative;
}

.profile-banner-section .profile-new-content .profile-owner-info {
  background-color: #ffffff;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-banner-section .profile-new-content .profile-owner-info .user-name h3 {
  color: #3A6BA4;
  font-size: 20px;
  line-height: 33px;
  font-family: 'metropolissemi_bold';
  margin: 0;
}

.profile-banner-section .profile-new-content .profile-owner-info .user-name p {
  margin: 0;
  font-size: 14px;
  line-height: 23px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.profile-banner-section .profile-new-content .profile-owner-info .btn-edit {
  background: #DEF2FF;
  border-radius: 5px;
  color: #022CC2;
  font-family: 'metropolissemi_bold';
  font-size: 12px;
  height: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-banner-section .profile-new-content .profile-owner-info .btn-edit i {
  margin-right: 5px;
  font-size: 14px;
}

.profile-banner-section .profile-new-content .profile-detailed {
  padding: 10px 0 50px 0;
}

.profile-banner-section .profile-new-content .profile-detailed a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.profile-banner-section .profile-new-content .profile-detailed a span {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.profile-banner-section .profile-new-content .profile-detailed a span img {
  width: 17px;
  height: auto;
}

.profile-banner-section .profile-new-content .profile-detailed a span .img-19 {
  width: 19px;
}

.profile-banner-section .profile-new-content .my-mentee-bio {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  width: 100%;
  padding: 20px 52px;
  margin-bottom: 15px;
  position: relative;
}

.profile-banner-section .profile-new-content .my-mentee-bio .edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .edit-icon img {
  height: 19px;
  width: 21px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .mentee-bio-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profile-banner-section .profile-new-content .my-mentee-bio .mentee-bio-heading .user-img {
  background: #00D1FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .mentee-bio-heading .user-img img {
  width: 18px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .mentee-bio-heading .content {
  margin-bottom: 20px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .mentee-bio-heading .content h3 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0px 0;
  color: #3A6BA4;
  font-family: 'metropolisbold';
}

.profile-banner-section .profile-new-content .my-mentee-bio .mentee-bio-heading .content p {
  font-size: 10px;
  line-height: 16px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group {
  margin-bottom: 0;
  position: relative;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group textarea.form-control {
  font-size: 12px;
  line-height: 15px;
  color: #3a6ba4 !important;
  background: #DEF2FF;
  border: 1px solid rgba(0, 117, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  min-height: 280px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group textarea.form-control:focus {
  color: #3a6ba4 !important;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group textarea.form-control::-webkit-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group textarea.form-control:-ms-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group textarea.form-control::-ms-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group textarea.form-control::placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
}

.profile-banner-section .profile-new-content .my-mentee-bio .form-group .char-limit {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  font-family: 'metropolismedium';
  line-height: 17px;
  color: #0075FF;
}

.profile-banner-section .profile-new-content .my-mentee-bio .save-mentee-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.profile-banner-section .profile-new-content .my-mentee-bio .save-mentee-bio .btn-save {
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1430FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1430FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}

.profile-banner-section .profile-new-content .swith-user {
  position: relative;
  right: unset;
  top: unset;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 30px 0;
}

.profile-banner-section .profile-new-content .swith-user .switch-slider label span {
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: 'metropolisbold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
  color: #83B6D9 !important;
}

.profile-banner-section .profile-new-content .swith-user .switch-slider label span img {
  width: 22px;
  height: 14px;
}

.profile-banner-section .profile-new-content .swith-user .switch-slider label span .d-none {
  display: none;
}

.profile-banner-section .profile-new-content .swith-user .switch-slider label .selected {
  color: #0075FF !important;
}

.profile-banner-section .profile-new-content .swith-user .switch-slider label .selected img.d-block {
  display: none !important;
}

.profile-banner-section .profile-new-content .swith-user .switch-slider label .selected img.d-none {
  display: block !important;
}

.profile-banner-section .profile-new-content .career-history {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
}

.profile-banner-section .profile-new-content .career-history .img-career-history {
  background-color: #00D1FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
  width: 26px;
  min-width: 26px;
  margin-right: 12px;
}

.profile-banner-section .profile-new-content .career-history .img-career-history img {
  height: 18px;
  width: 18px;
}

.profile-banner-section .profile-new-content .career-history .career-history-content {
  width: 100%;
}

.profile-banner-section .profile-new-content .career-history .career-history-content h3 {
  font-size: 16px;
  line-height: 27px;
  font-family: 'metropolissemi_bold';
  color: #3A6BA4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-banner-section .profile-new-content .career-history .career-history-content h3 a img {
  width: 21px;
  height: 19px;
}

.profile-banner-section .profile-new-content .career-history .career-history-content p {
  font-size: 14px;
  line-height: 18px;
  color: #3A6BA4;
}

.profile-banner-section .profile-new-content .career-history .career-history-content p .text-green {
  font-family: 'metropolissemi_bold';
  color: #14C85C;
}

.profile-banner-section .profile-new-content .career-history .career-history-content p .text-blue {
  font-family: 'metropolissemi_bold';
  color: #0075FF;
}

.profile-banner-section .profile-new-content .career-history .career-history-content .history {
  padding: 0;
  margin: 20px 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  position: relative;
}

.profile-banner-section .profile-new-content .career-history .career-history-content .history:after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 50px);
  left: -20px;
  top: 0;
  background-color: #0075FF;
}

.profile-banner-section .profile-new-content .career-history .career-history-content .history li {
  position: relative;
  padding-left: 10px;
}

.profile-banner-section .profile-new-content .career-history .career-history-content .history li:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: -27px;
  top: 0px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #0075FF;
}

.profile-banner-section .profile-new-content .career-history .career-history-content .history li h3 {
  font-size: 14px;
  line-height: 14px;
  color: #3A6BA4;
}

.profile-banner-section .profile-new-content .career-history .career-history-content .history li p {
  font-size: 12px;
  line-height: 12px;
  color: #3A6BA4;
}

.profile-banner-section .profile-new-content .fun-fact {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 15px;
  position: relative;
}

.profile-banner-section .profile-new-content .fun-fact .edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.profile-banner-section .profile-new-content .fun-fact .edit-icon img {
  height: 19px;
  width: 21px;
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 22px;
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-heading .user-img {
  background: #00D1FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-heading .user-img img {
  width: 18px;
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-heading .content h3 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0px 0;
  color: #3A6BA4;
  font-family: 'metropolisbold';
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-heading .content p {
  font-size: 10px;
  line-height: 16px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-info p {
  font-size: 12px;
  line-height: 16px;
  color: #3A6BA4;
  margin-bottom: 15px;
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.profile-banner-section .profile-new-content .fun-fact .fun-fact-edit .btn-save {
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1430FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1430FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
}

.profile-banner-section .profile-new-content .ratting-review {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.profile-banner-section .profile-new-content .ratting-review .img-ratting-review {
  background-color: #00D1FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
  width: 26px;
  min-width: 26px;
  margin-right: 12px;
}

.profile-banner-section .profile-new-content .ratting-review .img-ratting-review img {
  height: 18px;
  width: 18px;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content {
  width: 100%;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content h3 {
  font-size: 16px;
  line-height: 27px;
  font-family: 'metropolissemi_bold';
  color: #3A6BA4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content h3 a img {
  width: 21px;
  height: 19px;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content h3 .review {
  color: #00D1FF;
  font-family: 'metropolissemi_bold';
  font-size: 14px;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content p {
  font-size: 14px;
  line-height: 18px;
  color: #3A6BA4;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content p .text-green {
  font-family: 'metropolissemi_bold';
  color: #14C85C;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content p .text-blue {
  font-family: 'metropolissemi_bold';
  color: #0075FF;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content .ratng {
  margin-bottom: 10px;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content .ratng h4 {
  color: #FF7A00;
  font-family: 'metropolissemi_bold';
  font-size: 12px;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content .ratng h4 .fa {
  margin-right: 5px;
}

.profile-banner-section .profile-new-content .ratting-review .ratting-review-content .ratng p {
  font-size: 14px;
  line-height: 18px;
  color: #3A6BA4;
}

.profile-banner-section .profile-new-content .time-pleadge {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.profile-banner-section .profile-new-content .time-pleadge .img-time-about {
  background-color: #00D1FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
  width: 26px;
  min-width: 26px;
  margin-right: 12px;
}

.profile-banner-section .profile-new-content .time-pleadge .img-time-about img {
  height: 18px;
  width: 18px;
}

.profile-banner-section .profile-new-content .time-pleadge .time-about-content {
  width: 100%;
}

.profile-banner-section .profile-new-content .time-pleadge .time-about-content h3 {
  font-size: 16px;
  line-height: 27px;
  font-family: 'metropolissemi_bold';
  color: #3A6BA4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-banner-section .profile-new-content .time-pleadge .time-about-content h3 a img {
  width: 21px;
  height: 19px;
}

.profile-banner-section .profile-new-content .time-pleadge .time-about-content p {
  font-size: 14px;
  line-height: 18px;
  color: #3A6BA4;
}

.profile-banner-section .profile-new-content .time-pleadge .time-about-content p .text-green {
  font-family: 'metropolissemi_bold';
  color: #14C85C;
}

.profile-banner-section .profile-new-content .time-pleadge .time-about-content p .text-blue {
  font-family: 'metropolissemi_bold';
  color: #0075FF;
}

.profile-banner-section .profile-new-content .my-topic-to-learn {
  padding: 30px 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.2);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 40px;
  position: relative;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .edit-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .edit-icon img {
  height: 19px;
  width: 21px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .my-topic-heading {
  margin-bottom: 30px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .my-topic-heading h3 {
  font-size: 18px;
  line-height: 18px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item {
  height: 58px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 11px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  margin-bottom: 11px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .serach-img {
  width: 90px;
  height: 100%;
  min-width: 90px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .serach-img img {
  width: 100%;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .search-name {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .search-name h3 {
  color: #3A6BA4;
  font-size: 16px;
  line-height: 16px;
  font-family: 'metropolisbold';
  margin-bottom: 0;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .search-name .topic-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .search-name .topic-more .btn-price {
  background: #1529FA;
  border-radius: 5px;
  padding: 4px 8px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  margin-right: 5px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .search-name .topic-more .topic-count {
  height: 19px;
  width: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0099FF;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'metropolissemi_bold';
}

.profile-banner-section .profile-new-content .my-topic-to-learn .search-detail-list .search-item .search-name .topic-more i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  top: -2px;
  color: #FF0422;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .tap-to-add {
  padding: 20px 0;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .tap-to-add h3 {
  color: #3A6BA4;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .tap-to-add .topic-link {
  border: 1px dashed #83B6D9;
  border-radius: 15px;
  color: #3A6BA4;
  height: 58px;
  font-size: 17px;
  text-align: center;
  font-family: 'metropolissemi_bold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-bottom: 15px;
}

.profile-banner-section .profile-new-content .my-topic-to-learn .tap-to-add .topic-link:last-child {
  margin-bottom: 0;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos {
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 10px #EBF6FE;
          box-shadow: 4px 4px 10px #EBF6FE;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 15px 25px;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photos-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photos-heading .user-img {
  background: #00D1FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photos-heading .user-img img {
  width: 18px;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photos-heading .content h3 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0px 0;
  color: #3A6BA4;
  font-family: 'metropolisbold';
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photos-heading .content p {
  font-size: 10px;
  line-height: 16px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .my-photo-box {
  border-radius: 5px;
  width: 160px;
  height: 100px;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#DEF2FF), to(#DEF2FF)), -webkit-gradient(linear, left bottom, left top, from(#DEF2FF), to(#DEF2FF)), #DEF2FF;
  background: linear-gradient(0deg, #DEF2FF, #DEF2FF), linear-gradient(0deg, #DEF2FF, #DEF2FF), #DEF2FF;
  border-radius: 5px;
  margin-right: 0px;
  position: relative;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .my-photo-box:after {
  content: '';
  background-image: url(../images/icon/my-photo.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .my-photo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 9;
  position: relative;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .owl-nav {
  display: block;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .owl-nav button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .owl-nav .owl-prev {
  position: absolute;
  top: 25%;
  left: -30px;
}

.profile-banner-section .profile-new-content .my-photo-section .my-photos .my-photo-gallery .owl-nav .owl-next {
  position: absolute;
  top: 25%;
  right: -25px;
}

.profile-banner-section .profile-new-content .profile-option-lsit {
  border-top: 1px solid #EBF6FE;
  position: relative;
}

.profile-banner-section .profile-new-content .profile-option-lsit .profile-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 0;
  border-bottom: 1px solid #EBF6FE;
  text-decoration: none;
}

.profile-banner-section .profile-new-content .profile-option-lsit .profile-option .profile-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  margin-right: 10px;
  width: 40px;
  height: auto;
  margin-bottom: 0;
}

.profile-banner-section .profile-new-content .profile-option-lsit .profile-option .profile-img img {
  width: 19px;
  height: 19px;
}

.profile-banner-section .profile-new-content .profile-option-lsit .profile-option .profile-title h3 {
  font-size: 16px;
  line-height: 16px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
  margin-bottom: 0;
}

.switch-slider input[type="checkbox"].toggle.toggle {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.switch-slider input[type="checkbox"].toggle.toggle + label {
  height: 62px;
  width: 157px;
  line-height: 40px;
  background-color: #ccc;
  padding: 0px 10px;
  border-radius: 100px;
  background: #3043FA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
          box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 10px;
  position: relative;
  cursor: pointer;
}

.switch-slider input[type="checkbox"].toggle.toggle + label:before, .switch-slider input[type="checkbox"].toggle.toggle + label:hover:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 73px;
  height: 51px;
  background: #fff;
  z-index: 2;
  border-radius: 100px;
}

.switch-slider input[type="checkbox"].toggle.toggle + label .off, .switch-slider input[type="checkbox"].toggle.toggle + label .on {
  color: #0075FF;
  z-index: 99;
  padding: 5px 15px;
}

.switch-slider input[type="checkbox"].toggle.toggle:checked + label, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label {
  height: 62px;
  width: 157px;
  background: #3043FA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
          box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
  border-radius: 50px;
  border: 1px solid #E0E0E0;
}

.switch-slider input[type="checkbox"].toggle.toggle:checked + label:before, .switch-slider input[type="checkbox"].toggle.toggle:checked + label:hover:before, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label:before, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label:hover:before {
  background-position: 0 0;
  top: 4px;
  left: 100%;
  margin-left: -77px;
}

@media (max-width: 767px) {
  .profile-banner-section .profile-content .swith-user {
    right: 10px;
  }
  .profile-banner-section .profile-owner-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .profile-banner-section .profile-owner-info .user-name {
    min-width: unset;
  }
  .profile-banner-section .profile-content .mentee-ratting {
    left: 10px;
  }
  .profile-banner-section .profile-content .mentee-ratting a {
    font-size: 12px;
  }
  .profile-banner-section .profile-detail {
    top: 0px;
    height: auto;
    z-index: 10;
  }
  .profile-banner-section .profile-detail .profile-photo {
    width: 130px;
    height: 130px;
    min-width: 130px;
  }
  .profile-banner-section .profile-detail .profile-photo .filelabel-icon {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  .profile-banner-section .profile-detail .profile-border {
    width: 130px;
    height: 130px;
  }
  .profile-banner-section .profile-detail .profile-border::after {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    min-height: 150px;
  }
  .profile-banner-section .profile-detail .profile-border::before {
    width: 130px;
    height: 130px;
    min-width: 130px;
  }
}
/*# sourceMappingURL=mentor-profile.css.map */