@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background-color: #ffffff;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}

@mixin btn-blue-light {
    color: #0075ff;
    background: #DEF2FF;
    border: 1px solid #0075FF;
    box-sizing: border-box;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;

    
    &:hover {
    background: #DEF2FF;
    box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background: #DEF2FF;
        box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
        transform: translateY(-3px);
    }
}

.profile-banner-section {
    padding-top: 18px;
    background-color: #ffffff;
    margin-bottom: 70px;

    .profile-new-content{
        padding: 50px 0 0 0;
        .profile-detail{
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            top: 0px;
            height: auto;
            z-index: 10;
        .profile-photo {
            position: relative;
            width: 180px;
            height: 180px;
            min-width: 180px;
            display: flex;
            align-items: center;
            .filelabel-icon{
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 5px solid #ffffff;
                background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
                border: 5px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                right: -5px;
                bottom: -5px;
                z-index: 10;
                cursor: pointer;
                img {
                    width: 24px;
                    height: 23px;
                }
            }
        }

        .profile-border{
            width: 180px;
            height: 180px;
            overflow: hidden;
            border-radius: 100%;
            display: flex;
            align-items: center;
            background-size: cover;
            z-index: 0 ;
            &::after {
                content: '';
                position: absolute;
                top: -10px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                left: -10px;
                right: 0;
                min-width: 200px;
                max-width: 200px;
                min-height: 200px;
                min-height: 200px;
                border-radius: 100%;
                z-index: 2;
                background: #C4C4C4;
            }
            &::before {
                content: 'Add your profile picture';  
                z-index: 3;
                position: absolute;
                width: 180px;
                height: 180px;
                min-width: 180px;
                border-radius: 100%;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #1529FA;
                font-size: 12px;
                font-family: 'metropolissemi_bold';
            }
            // .profile-border {
                // overflow: hidden;
                // width: 198px;
                // height: 214px;
                
            // }
            img {
                width: 100%;
                height: auto;
                z-index: 9;
                position: relative;
              
            }
        }    
        }

        .profile-owner-info {
            background-color: #ffffff;
            padding: 20px 0;
            display: flex;
            align-items: center;
          justify-content: space-between;
              .user-name {
                  
                  h3 {
                      color: #3A6BA4;
                      font-size: 20px;
                      line-height: 33px;
                      font-family: 'metropolissemi_bold';
                      margin: 0;
                  }
                  p {
                      margin: 0;
                      font-size: 14px;
                      line-height: 23px;
                      color: #3A6BA4;
                      font-family: 'metropolismedium';
                  }
              }
      
              .btn-edit {
                  background: #DEF2FF;
                  border-radius: 5px;
                  color: #022CC2;
                  font-family: 'metropolissemi_bold';
                  font-size: 12px;
                  height: 38px;
                  justify-content: center;
                  display: flex;
                  white-space: nowrap;
                  align-items: center;
                  i {
                      margin-right: 5px;
                      font-size: 14px;
                  }
              }
        }

        // profile detail

        .profile-detailed{
            padding: 10px 0 50px 0;
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                span {
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    img  {
                        width: 17px;
                        height: auto;
                    }
                    .img-19 {
                        width: 19px;
                    }
                }
                font-size: 14px;
                line-height: 23px;
                color: #3A6BA4;
                font-family: 'metropolismedium';
            }
        }

        .my-mentee-bio{
            background: #FFFFFF;
            box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
            border-radius: 15px;
            width: 100%;
            padding: 20px 52px;
            margin-bottom: 15px;
            position: relative;
            .edit-icon{
                position: absolute;
                right: 10px;
                top: 10px;
                img {
                    height: 19px;
                    width: 21px;
                }
            }
    
            .mentee-bio-heading{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                .user-img {
                    background: #00D1FF;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    margin-right: 10px;
                    
                    img {
                        width: 18px;
                        
                    }
                }
                .content {
                    margin-bottom: 20px;
                    h3 {
                        font-size: 14px;
                        line-height: 24px;
                        margin: 0 0 0px 0;
                        color: #3A6BA4;
                        font-family: 'metropolisbold';
                    }
                    p {
                        font-size: 10px;
                        line-height: 16px;
                        color: #3A6BA4;
                        font-family: 'metropolismedium';
                    }
                }
               
            }
    
            .form-group {
                margin-bottom: 0;
                position: relative;
                textarea.form-control {
                    font-size: 12px;
                        line-height: 15px;
                        color: rgba(58, 107, 164, 01) !important;
                        background: #DEF2FF;
                        border: 1px solid rgba(0, 117, 255, 0.4);
                        box-sizing: border-box;
                        border-radius: 10px;
                        min-height: 280px;
    
                        &:focus {
                            color: rgba(58, 107, 164, 01) !important;
                        }
    
                        &::placeholder {
                            color: rgba(58, 107, 164, 0.5) !important;
                        }
                }
    
                .char-limit{
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    font-size: 10px;
                    font-family: 'metropolismedium';
                    line-height: 17px;
                    color: #0075FF;
                }
            }
    
            .save-mentee-bio{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 15px;
                .btn-save {
                    background: linear-gradient(180deg, #6C95FF 0%, #1430FA 100%);
                    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
          
    
        }

        .swith-user{
            position: relative;
            right: unset;
            top: unset; 
            z-index: 10;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 0 30px 0;
            .switch-slider{
                label  {
                    span {
                        padding: 5px 10px;
                        text-transform: uppercase;
                        font-family: 'metropolisbold';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        line-height: 20px;
                        color: #83B6D9 !important;
                        img {
                            width: 22px;
                            height: 14px;
                        }
                        .d-none{
                            display: none;
                        }
                    }

                    .selected{
                        color: #0075FF !important;

                        img.d-block{
                            display: none !important;
                            
                        }
                        img.d-none{
                            display: block !important;
                        }
                    }
                }
            }
        }


        // career

        .career-history{
            background: #FFFFFF;
            box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
            border-radius: 15px;
            padding: 20px;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 30px;
            width: 100%;
            .img-career-history{
                background-color: #00D1FF;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 26px;
                width: 26px;
                min-width: 26px;
                margin-right: 12px;
                img {
                    height: 18px;
                    width: 18px;
                }
            }
    
            .career-history-content{
                width: 100%;
                h3 {
                    font-size: 16px;
                    line-height: 27px;
                    font-family: 'metropolissemi_bold';
                    color: #3A6BA4;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                        img {
                            width: 21px;
                            height: 19px;
                        }
                    }
                    
                }
    
                p {
                    font-size: 14px;
                    line-height: 18px;
                    color: #3A6BA4;
    
                    .text-green {
                        font-family: 'metropolissemi_bold';
                        color: #14C85C;
                    }
    
                    .text-blue {
                        font-family: 'metropolissemi_bold';
                        color: #0075FF;
                    }
                }
    
                .history{
                    padding: 0;
                    margin: 20px 0 0 30px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    list-style: none;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: calc(100% - 50px);
                        left: -20px;
                        top: 0;
                        background-color: #0075FF
                    }
                    li {
                        position: relative;
                        padding-left: 10px;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 1px;
                            height: 100%;
                            left: -27px;
                            top: 0px;
                            height: 15px;
                            width: 15px;
                            border-radius: 100%;
                            background-color:#0075FF
                        }
                        h3 {
                            font-size: 14px;
                            line-height: 14px;
                            color: #3A6BA4;
                        }
                        p {
                            font-size: 12px;
                            line-height: 12px;
                            color: #3A6BA4;
                        }
                    }
                }
            }
         }

        // 
        .fun-fact{
            background: #FFFFFF;
            box-shadow: 0px 2px 20px rgba(0, 153, 255, 0.12);
            border-radius: 15px;
            width: 100%;
            padding: 20px 25px;
            margin-bottom: 15px;
            position: relative;
            .edit-icon{
                position: absolute;
                right: 10px;
                top: 10px;
                img {
                    height: 19px;
                    width: 21px;
                }
            }
    
            .fun-fact-heading{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 22px;
                .user-img {
                    background: #00D1FF;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    height: 28px;
                    margin-right: 10px;
                    
                    img {
                        width: 18px;
                        
                    }
                }
                .content {
                    h3 {
                        font-size: 14px;
                        line-height: 24px;
                        margin: 0 0 0px 0;
                        color: #3A6BA4;
                        font-family: 'metropolisbold';
                    }
                    p {
                        font-size: 10px;
                        line-height: 16px;
                        color: #3A6BA4;
                        font-family: 'metropolismedium';
                    }
                }
               
               
            }
    
            .fun-fact-info {
  
                p {
                    font-size: 12px;
                    line-height: 16px;
                    color: #3A6BA4;
                    margin-bottom: 15px;
                }
            }
    
       
            .fun-fact-edit{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 15px;
                .btn-save {
                    background: linear-gradient(180deg, #6C95FF 0%, #1430FA 100%);
                    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
          
    
        }


        .ratting-review{
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
            border-radius: 15px;
            padding: 20px 25px;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 30px;
            .img-ratting-review{
                background-color: #00D1FF;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 26px;
                width: 26px;
                min-width: 26px;
                margin-right: 12px;
                img {
                    height: 18px;
                    width: 18px;
                }
            }
    
            .ratting-review-content{
                width: 100%;
                h3 {
                    font-size: 16px;
                    line-height: 27px;
                    font-family: 'metropolissemi_bold';
                    color: #3A6BA4;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                        img {
                            width: 21px;
                            height: 19px;
                        }
                    }

                    .review{
                        color: #00D1FF;
                        font-family: 'metropolissemi_bold';
                        font-size: 14px;
                    }
                    
                }
    
                p {
                    font-size: 14px;
                    line-height: 18px;
                    color: #3A6BA4;
    
                    .text-green {
                        font-family: 'metropolissemi_bold';
                        color: #14C85C;
                    }
    
                    .text-blue {
                        font-family: 'metropolissemi_bold';
                        color: #0075FF;
                    }
                }

                .ratng {
                    margin-bottom: 10px;
                    h4 {
                        color: #FF7A00;
                        font-family: 'metropolissemi_bold';
                        font-size: 12px;
                        .fa {
                            margin-right: 5px;
                        }
                    }

                    p {
                        font-size: 14px;
                    line-height: 18px;
                    color: #3A6BA4; 
                    }
                }
            }
        }

   
        // time pladge

        .time-pleadge{
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
            border-radius: 15px;
            padding: 20px 25px;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 30px;
            .img-time-about{
                background-color: #00D1FF;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 26px;
                width: 26px;
                min-width: 26px;
                margin-right: 12px;
                img {
                    height: 18px;
                    width: 18px;
                }
            }
    
            .time-about-content{
                width: 100%;
                h3 {
                    font-size: 16px;
                    line-height: 27px;
                    font-family: 'metropolissemi_bold';
                    color: #3A6BA4;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                        img {
                            width: 21px;
                            height: 19px;
                        }
                    }
                    
                }
    
                p {
                    font-size: 14px;
                    line-height: 18px;
                    color: #3A6BA4;
    
                    .text-green {
                        font-family: 'metropolissemi_bold';
                        color: #14C85C;
                    }
    
                    .text-blue {
                        font-family: 'metropolissemi_bold';
                        color: #0075FF;
                    }
                }
            }
         }
    


        // mentee right

        .my-topic-to-learn  {
            padding: 30px 40px;
            background: #FFFFFF;
            box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.2);
            border-radius: 20px;
            margin-bottom: 40px;
            position: relative;
            .edit-icon{
                position: absolute;
                right: 20px;
                top: 20px;
                img {
                    height: 19px;
                    width: 21px;
                }
            }
            .my-topic-heading{
                margin-bottom: 30px;
                h3 {
                    font-size: 18px;
                    line-height: 18px;
                    color: #3A6BA4;
                    font-family: 'metropolismedium';
                }
            }
          
    
            .search-detail-list{    
                .search-item{
                    height: 58px;
                    background-color: #ffffff;
                    border-radius: 15px;
                    margin-bottom: 11px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    text-decoration: none;
                    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
                    margin-bottom: 11px;
                    .serach-img{
                        width: 90px;
                        height: 100%;
                        min-width: 90px;
                        img {
                            width: 100%;
                        }
                    }
    
                    .search-name{
                        padding: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        width: 100%;
                        h3 {
                            color: #3A6BA4;
                            font-size: 16px;
                            line-height: 16px;
                            font-family: 'metropolisbold';
                            margin-bottom: 0;
                            
                        }
    
                        .topic-more{
                            display: flex;
                            flex-direction: row;
                            max-width: 80px;
                            align-items: center;
                            justify-content: center;
                            .btn-price {
                                background: #1529FA;
                                border-radius: 5px;
                                padding: 4px 8px;
                                color: #ffffff;
                                font-size: 14px;
                                line-height: 20px;
                                margin-right: 5px;
                            }
                            .topic-count{
                                height: 19px;
                                width: 19px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: #0099FF;
                                color: #ffffff;
                                border-radius: 100%;
                                margin-right: 10px;
                                font-size: 12px;
                                font-family: 'metropolissemi_bold';
                            }
    
                            i{
                                transform: rotate(180deg);
                                position: relative;
                                top: -2px;
                                color: #FF0422;
                                transform: rotate(-180deg);
                                // background: #FFFFFF;
                                // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
                                // border-radius: 100%;
                                height: 20px;
                                width: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
    
            .tap-to-add {
                padding: 20px 0;
                h3 {
                    color: #3A6BA4;
                    font-weight: 600;
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 20px;
                }
    
                .topic-link {
                    border: 1px dashed #83B6D9;
                    border-radius: 15px;
                    color: #3A6BA4;
                    height: 58px;
                    font-size: 17px;
                    text-align: center;
                    font-family: 'metropolissemi_bold';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                
                }
            }
        }

        // slider

        .my-photo-section {
            .my-photos {
                background: #FFFFFF;
                box-shadow: 4px 4px 10px #EBF6FE;
                border-radius: 10px;
                margin-bottom: 50px;
                padding: 15px 25px;
        
                .my-photos-heading{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .user-img {
                        background: #00D1FF;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 28px;
                        height: 28px;
                        margin-right: 10px;
                        
                        img {
                            width: 18px;
                            
                        }
                    }
                    .content {
                        h3 {
                            font-size: 14px;
                            line-height: 24px;
                            margin: 0 0 0px 0;
                            color: #3A6BA4;
                            font-family: 'metropolisbold';
                        }
                        p {
                            font-size: 10px;
                            line-height: 16px;
                            color: #3A6BA4;
                            font-family: 'metropolismedium';
                        }
                    }
                   
                }
        
                .my-photo-gallery {
                    padding: 20px 40px;
                    display: flex;
                    
                    .my-photo-box{
                        border-radius: 5px;
                        width: 160px;
                        height: 100px;
                        overflow: hidden;
                        background: linear-gradient(0deg, #DEF2FF, #DEF2FF), linear-gradient(0deg, #DEF2FF, #DEF2FF), #DEF2FF;
                        border-radius: 5px;
                        margin-right: 0px;
                        position: relative;
                        &:after {
                            content: '';
                            background-image: url(../images/icon/my-photo.png);
                            background-repeat: no-repeat;
                            background-size: 60px;
                            background-position: center;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 5;
                        }
                        img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 9;
                        position: relative;
                        }
                    }
        
        
                    .owl-nav {
                        display: block;
        
                        button {
                            background-color: transparent;
                            box-shadow: none;
                            outline: none;
                        }
                        .owl-prev {
                            position: absolute;
                            top: 25%;
                            left: -30px;
                        } 
        
                        .owl-next {
                            position: absolute;
                            top: 25%;
                            right: -25px;
                        }
                    }
                }
            }
        }

        // 

        .profile-option-lsit{
            border-top: 1px solid #EBF6FE;
            position: relative;
            .profile-option{
                display: flex;
                align-items: center;
                justify-content: flex-start;
               padding: 25px 0;
               border-bottom: 1px solid #EBF6FE;
               text-decoration: none;
                .profile-img{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                   min-width: 40px;
                   margin-right: 10px;
                   width: 40px;
                   height: auto;
                   margin-bottom: 0;
                   img {
                       width: 19px;
                       height: 19px;
                   }   
               }
               .profile-title{
                   h3 {    
                       font-size: 16px;
                       line-height: 16px;
                       color: #3A6BA4;
                       font-family: 'metropolismedium';
                       margin-bottom: 0;
                   }
               }
            }
        }
    }


    
}





.switch-slider{
    input[type="checkbox"].toggle {
  
        &.toggle {
          
          opacity: 0;
          position: absolute;
          left: -99999px;
      
          & + label {
            
            height: 62px;
            width: 157px;
            line-height: 40px;
            background-color: #ccc;
            padding: 0px 10px;
            border-radius: 100px;
            background: #3043FA;
            box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 10px;
            position: relative;
            cursor: pointer;
         
            
            &:before, &:hover:before {
              
              content: ' ';
              position: absolute;
              top: 5px;
              left: 5px;
              width: 73px;
              height: 51px;
              background: #fff;
              z-index: 2;
                border-radius: 100px;
              
            }
            
            .off, .on {
              color: #0075FF;
              z-index: 99;
              padding: 5px 15px;
              
            }
            
            // .off {
            //   margin-left: 5px;
            //   display:inline-block;
            // }
            
            // .on {
            //   display: none;
            // }
            
          }
      
          &:checked + label {
            
            // .off {
            //   display: none;
            // }
            // .on {
            //   margin-right: 25px;
            //   display:inline-block;
            // }
            
          }
      
          &:checked + label, &:focus:checked + label {
            height: 62px;
            width: 157px;
            background: #3043FA;
            box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
            border-radius: 50px;
            border: 1px solid #E0E0E0;
            &:before, &:hover:before {
              
              background-position: 0 0;
              top: 4px;
              left: 100%;
              margin-left: -77px;
              
            }
            
          }
      
        }
        
      }
}


@media (max-width: 767px) {
    
    .profile-banner-section  {

        .profile-content .swith-user {
            right: 10px;
        }

        .profile-owner-info {
            justify-content: space-between;
            .user-name {
                min-width: unset;
            }
        }
        .profile-content {
            .mentee-ratting {
                left: 10px;
                a {
                    font-size: 12px;
                }
            }
        }

     
        .profile-detail{
    
            top: 0px;
            height: auto;
            z-index: 10;
        .profile-photo {
            width: 130px;
            height: 130px;
            min-width: 130px;
            .filelabel-icon{
                position: absolute;
                width: 50px;
                height: 50px;
             
            }
        }

        .profile-border{
            width: 130px;
            height: 130px;
            &::after {
                min-width: 150px;
                max-width: 150px;
                min-height: 150px;
                min-height: 150px;
            }
            &::before {
                width: 130px;
                height: 130px;
                min-width: 130px;
            }
        }
        }
    }
}