.mentee-home-section{
    padding: 20px 0 100px 0;
    background-color: #ffffff;

    .search-for-mentor{
        h3 {
            font-size: 18px;
            line-height: 30px;
            color: #0075FF;
            font-family: 'metropolissemi_bold';
            margin-bottom: 34px;
        }
    }

    .serach-topic{
        margin-bottom: 50px;
        .form-group {
            position: relative;
            max-width: 430px;
            .form-control {
                background: #FFFFFF;
                box-shadow: 0px 3px 20px rgba(19, 33, 176, 0.5);
                border-radius: 10px;
                color: rgba(58, 107, 164, 1) !important;
                border: 0;
                padding-right: 60px;
                font-family: 'metropolismedium';
                &:focus {
                    color: rgba(58, 107, 164, 1) !important;
                    font-family: 'metropolismedium';
                }
                &::placeholder {
                    color: rgba(58, 107, 164, 0.5) !important;
                    font-family: 'metropolismedium';
                }
            }
            .search-icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 18px;
                    height: auto;
                }
            
            }
        }
    }


    .home-profile-info{

        .swith-user{
         display: flex;
         align-items: center;
         justify-content: center;

            .switch-slider{
                label  {
                    span {
                        padding: 5px 10px;
                        text-transform: uppercase;
                        font-family: 'metropolisbold';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        line-height: 20px;
                        color: #83B6D9 !important;
                        img {
                            width: 22px;
                            height: 14px;
                        }
                        .d-none{
                            display: none;
                        }
                    }

                    .selected{
                        color: #0075FF !important;

                        img.d-block{
                            display: none !important;
                            
                        }
                        img.d-none{
                            display: block !important;
                        }
                    }
                }
            }
        }

        .expert-list{
            padding: 20px 50px;
            .expert-item{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 20px;
                .exert-img {
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .img-w21{
                        width: 24px;
                        height: auto;
                    }

                    .img-w24{
                        width: 24px;
                        height: auto;
                    }

                    .img-w28{
                        width: 28px;
                        height: auto;
                    }
                }

                .expert-info{
                    padding-left: 13px;
                    p {
                        font-size: 12px;
                        line-height: 16px;
                        font-family: 'metropolismedium';
                        color: #3A6BA4;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}


    .serach-title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;

        .search-title-img{
            width: 28px;
            height: 28px;
            background: #00D1FF;
            border: 1px solid #00D1FF;
            box-sizing: border-box;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 16px;
                height: auto;
            }
            .img-heart {
                height: 13px;
                width: 16px;
            }

            .img-plus {
                height: 16px;
                width: auto;
            }
         
        }

        .search-title-info{
            padding-left: 10px;
            h2 {
                font-weight: 600;
                font-size: 18px;
                font-family: 'metropolissemi_bold';
                color: #3A6BA4;
                margin-bottom: 3px;
            }
            h4 {
                font-weight: 500;
                font-size: 14px;
                font-family: 'metropolismedium';
                color: #3A6BA4;
            }
        }

    }


    .mentee-list{
        margin-bottom: 50px;

        .mentee-list-inner{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .mentee-item {
            height: 140px;
            width: 140px;
            min-width: 140px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            position: relative;
            margin-right: 0px;
            margin-bottom: 10px;
            img {
            width: 100%;
            object-fit: cover;
            min-height: 140px;
            }
            .mentee-item-content{
                background: linear-gradient(360deg, rgba(21, 99, 250, 0.81) 0%, rgba(21, 209, 250, 0) 100%);
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 8px 15px 10px 15px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                height: 57px;   
                width: 100%;
                
    
                h3 {
                    color: #ffffff;
                    font-size: 18px;
                    line-height: 20px;
                    font-family: 'metropolisbold';
                    margin-bottom: 0;
                }
    
                p {
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 18px;
                    font-family: 'metropolisregular';
                }
            }
        }

        .owl-nav {
            display: block !important;
            button {
                background-color:  #6C95FF !important;
                height: 30px;
                width: 30px;
                border-radius: 100px !important;
                box-shadow: none;
                outline: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    top: -3px;
                    position: relative;
                    width: 11px;
                    height: auto;
                }
            }
            .owl-prev {
                position: absolute;
                left: -40px;
                top: 40%;
            }
    
            .owl-next {
                position: absolute;
                right: -40px;
                top: 40%;
            }
        }
    }


    .other-mentors-list{

        .mentor-box {
            overflow: hidden;
            box-shadow: 0px 3px 14px rgba(21, 41, 250, 0.15);
            border-radius: 10px;
            width: 140px;
            min-width: 140px;
            height: 207px;
            display: block;
            position: relative;
            margin-right: 10px;
            img {
              width: 100%;
              object-fit: cover;
              height: 207px;
            }
    
            .mentor-info{
                background: linear-gradient(360deg, rgba(21, 99, 250, 0.81) 0%, rgba(21, 209, 250, 0) 100%);
                height: 98px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 20px 17px 15px 17px;
                flex-direction: column;
                h4 {
                    font-size: 20px;
                    line-height: 33px;
                    color: #ffffff;
                    font-family: 'metropolissemi_bold';
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 14px;
                    line-height: 23px;
                    color: #ffffff;
                    font-family: 'metropolissemi_bold';
                    margin-bottom: 0;
                  
                }
    
    
                // p {
                //     font-size: 14px;
                //     line-height: 23px;
                //     margin-bottom: 0;
                //     color: #ffffff;
                //     i  {
                //         color: #F2AE14;
                //     }
                // }
            }
        }

        .owl-nav {
            display: block !important;
            button {
                background-color:  #6C95FF !important;
                height: 30px;
                width: 30px;
                border-radius: 100px !important;
                box-shadow: none;
                outline: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    top: -3px;
                    position: relative;
                    width: 11px;
                    height: auto;
                }
            }
            .owl-prev {
                position: absolute;
                left: -40px;
                top: 40%;
            }
    
            .owl-next {
                position: absolute;
                right: -40px;
                top: 40%;
            }
        }
    }

    .switch-slider{
        input[type="checkbox"].toggle {
      
            &.toggle {
              
              opacity: 0;
              position: absolute;
              left: -99999px;
          
              & + label {
                
                height: 62px;
                width: 157px;
                line-height: 40px;
                background-color: #ccc;
                padding: 0px 10px;
                border-radius: 100px;
                background: #3043FA;
                box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 10px;
                position: relative;
                cursor: pointer;
             
                
                &:before, &:hover:before {
                  
                  content: ' ';
                  position: absolute;
                  top: 5px;
                  left: 5px;
                  width: 73px;
                  height: 51px;
                  background: #fff;
                  z-index: 2;
                    border-radius: 100px;
                  
                }
                
                .off, .on {
                  color: #0075FF;
                  z-index: 99;
                  padding: 5px 15px;
                  
                }
                
                // .off {
                //   margin-left: 5px;
                //   display:inline-block;
                // }
                
                // .on {
                //   display: none;
                // }
                
              }
          
              &:checked + label {
                
                // .off {
                //   display: none;
                // }
                // .on {
                //   margin-right: 25px;
                //   display:inline-block;
                // }
                
              }
          
              &:checked + label, &:focus:checked + label {
                height: 62px;
                width: 157px;
                background: #3043FA;
                box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
                border-radius: 50px;
                border: 1px solid #E0E0E0;
                &:before, &:hover:before {
                  
                  background-position: 0 0;
                  top: 4px;
                  left: 100%;
                  margin-left: -77px;
                  
                }
                
              }
          
            }
            
          }
    }


@media (max-width: 767px) {
    .mentee-home-section .serach-topic .form-group {
        max-width: 100%;
    }
    .mentee-home-section {
        .mentee-list {
            padding: 0 20px;
        }
        .other-mentors-list{
            padding: 0 20px;
        }
    }

    .home-profile-info{
        margin-top: 20px;
    }
}

@media (min-width: 767px) and (max-width: 1024px){
    .mentee-home-section {
        .mentee-list {
            padding: 0 40px;
        }
        .other-mentors-list{
            padding: 0 40px;
        }
    }

    .home-profile-info{
        margin-top: 20px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .mentee-home-section {
        .mentee-list {
            padding: 0 20px;
        }
        .other-mentors-list{
            padding: 0 20px;
        }
    }
  }