.mentee-search-section {
  padding: 20px 0 100px 0;
  background-color: #ffffff;
}

.mentee-search-section .search-for-mentor {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.2);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.2);
  border-radius: 20px;
  padding: 15px 50px;
  margin-bottom: 130px;
}

.mentee-search-section .search-for-mentor h3 {
  font-size: 16px;
  line-height: 30px;
  color: #3A6BA4;
  font-family: 'metropolissemi_bold';
  margin-bottom: 10px;
}

.mentee-search-section .search-for-mentor p {
  font-size: 14px;
  line-height: 23px;
  color: #3A6BA4;
}

.mentee-search-section .serach-topic {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.mentee-search-section .serach-topic .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 220px;
}

.mentee-search-section .serach-topic .search-filter label {
  white-space: nowrap;
  margin: 0 15px;
  font-size: 18px;
  line-height: 23px;
  color: #3A6BA4;
}

.mentee-search-section .serach-topic .search-filter select {
  background: rgba(186, 186, 186, 0.3);
  border-radius: 5px;
  min-width: 120px;
}

.mentee-search-section .serach-topic .form-group {
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

.mentee-search-section .serach-topic .form-group .form-control {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 20px rgba(19, 33, 176, 0.5);
          box-shadow: 0px 3px 20px rgba(19, 33, 176, 0.5);
  border-radius: 10px;
  color: #3a6ba4 !important;
  border: 0;
  padding-right: 60px;
  font-family: 'metropolismedium';
}

.mentee-search-section .serach-topic .form-group .form-control:focus {
  color: #3a6ba4 !important;
  font-family: 'metropolismedium';
}

.mentee-search-section .serach-topic .form-group .form-control::-webkit-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-search-section .serach-topic .form-group .form-control:-ms-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-search-section .serach-topic .form-group .form-control::-ms-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-search-section .serach-topic .form-group .form-control::placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-search-section .serach-topic .form-group .search-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-search-section .serach-topic .form-group .search-icon img {
  width: 18px;
  height: auto;
}

.mentee-search-section .search-topic-list {
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 153, 255, 0.12);
  position: relative;
}

.mentee-search-section .search-topic-list:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0075FF;
  height: 3px;
  width: 150px;
}

.mentee-search-section .search-topic-list .search-detail-list .item-sub .topic-more .badge {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background-color: #0075FF;
  color: #ffffff;
  font-size: 10px;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-search-section .search-topic-list .search-detail-list .item-sub .topic-more i {
  color: #0099FF !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-weight: 600;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item {
  height: 58px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 11px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  margin-bottom: 11px;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .serach-img {
  width: 90px;
  height: 100%;
  min-width: 90px;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .serach-img img {
  width: 100%;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .search-name {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .search-name h3 {
  color: #3A6BA4;
  font-size: 16px;
  line-height: 16px;
  font-family: 'metropolisbold';
  margin-bottom: 0;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .search-name .topic-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 60px;
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .search-name .topic-more .topic-count {
  height: 19px;
  width: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0099FF;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'metropolissemi_bold';
}

.mentee-search-section .search-topic-list .search-detail-list .search-item .search-name .topic-more i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  top: -2px;
  color: #14C85C;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}

.mentee-search-section .home-profile-info .swith-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-search-section .home-profile-info .swith-user .switch-slider label span {
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: 'metropolisbold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
  color: #83B6D9 !important;
}

.mentee-search-section .home-profile-info .swith-user .switch-slider label span img {
  width: 22px;
  height: 14px;
}

.mentee-search-section .home-profile-info .swith-user .switch-slider label span .d-none {
  display: none;
}

.mentee-search-section .home-profile-info .swith-user .switch-slider label .selected {
  color: #0075FF !important;
}

.mentee-search-section .home-profile-info .swith-user .switch-slider label .selected img.d-block {
  display: none !important;
}

.mentee-search-section .home-profile-info .swith-user .switch-slider label .selected img.d-none {
  display: block !important;
}

.mentee-search-section .home-profile-info .expert-list {
  padding: 20px 50px;
}

.mentee-search-section .home-profile-info .expert-list .expert-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.mentee-search-section .home-profile-info .expert-list .expert-item .exert-img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-search-section .home-profile-info .expert-list .expert-item .exert-img .img-w21 {
  width: 24px;
  height: auto;
}

.mentee-search-section .home-profile-info .expert-list .expert-item .exert-img .img-w24 {
  width: 24px;
  height: auto;
}

.mentee-search-section .home-profile-info .expert-list .expert-item .exert-img .img-w28 {
  width: 28px;
  height: auto;
}

.mentee-search-section .home-profile-info .expert-list .expert-item .expert-info {
  padding-left: 13px;
}

.mentee-search-section .home-profile-info .expert-list .expert-item .expert-info p {
  font-size: 12px;
  line-height: 16px;
  font-family: 'metropolismedium';
  color: #3A6BA4;
  text-align: left;
  margin-bottom: 20px;
}

.mentee-search-section .zero-result-found {
  margin-bottom: 30px;
}

.mentee-search-section .zero-result-found h3 {
  font-size: 16px;
  line-height: 16px;
  color: #EE3842;
  margin-bottom: 10px;
}

.mentee-search-section .no-result-found {
  margin-bottom: 40px;
}

.mentee-search-section .no-result-found h3 {
  font-size: 21px;
  line-height: 35px;
  color: #3A6BA4;
  margin-bottom: 0;
}

.mentee-search-section .no-result-found p {
  font-size: 14px;
  line-height: 24px;
  color: rgba(58, 107, 164, 0.75);
}

.mentee-search-section .try-topic p {
  color: rgba(58, 107, 164, 0.75);
  font-size: 14px;
  line-height: 15px;
  font-family: 'metropolissemi_bold';
  margin-bottom: 20px;
}

.mentee-search-section .other-mentors-list .mentor-box {
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 14px rgba(21, 41, 250, 0.15);
          box-shadow: 0px 3px 14px rgba(21, 41, 250, 0.15);
  border-radius: 10px;
  width: 140px;
  min-width: 140px;
  height: 207px;
  display: block;
  position: relative;
  margin-right: 10px;
}

.mentee-search-section .other-mentors-list .mentor-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 207px;
}

.mentee-search-section .other-mentors-list .mentor-box .mentor-info {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 99, 250, 0.81)), to(rgba(21, 209, 250, 0)));
  background: linear-gradient(360deg, rgba(21, 99, 250, 0.81) 0%, rgba(21, 209, 250, 0) 100%);
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 17px 15px 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mentee-search-section .other-mentors-list .mentor-box .mentor-info h4 {
  font-size: 20px;
  line-height: 33px;
  color: #ffffff;
  font-family: 'metropolissemi_bold';
  margin-bottom: 0;
}

.mentee-search-section .other-mentors-list .mentor-box .mentor-info h3 {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  font-family: 'metropolissemi_bold';
  margin-bottom: 0;
}

.mentee-search-section .other-mentors-list .owl-nav {
  display: none !important;
}

.mentee-search-section .other-mentors-list .owl-nav button {
  background-color: #6C95FF !important;
  height: 30px;
  width: 30px;
  border-radius: 100px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-search-section .other-mentors-list .owl-nav button img {
  top: -3px;
  position: relative;
  width: 11px;
  height: auto;
}

.mentee-search-section .other-mentors-list .owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: 40%;
}

.mentee-search-section .other-mentors-list .owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: 40%;
}

.cant-find-topic {
  padding: 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cant-find-topic .btn-suggest {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  height: 55px;
  font-size: 20px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  max-width: 300px;
  width: 100%;
}

.cant-find-topic .btn-suggest:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.cant-find-topic .btn-suggest:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.cant-find-topic .btn-suggest span {
  display: block;
}

.switch-slider input[type="checkbox"].toggle.toggle {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.switch-slider input[type="checkbox"].toggle.toggle + label {
  height: 62px;
  width: 157px;
  line-height: 40px;
  background-color: #ccc;
  padding: 0px 10px;
  border-radius: 100px;
  background: #3043FA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
          box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 10px;
  position: relative;
  cursor: pointer;
}

.switch-slider input[type="checkbox"].toggle.toggle + label:before, .switch-slider input[type="checkbox"].toggle.toggle + label:hover:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 73px;
  height: 51px;
  background: #fff;
  z-index: 2;
  border-radius: 100px;
}

.switch-slider input[type="checkbox"].toggle.toggle + label .off, .switch-slider input[type="checkbox"].toggle.toggle + label .on {
  color: #0075FF;
  z-index: 99;
  padding: 5px 15px;
}

.switch-slider input[type="checkbox"].toggle.toggle:checked + label, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label {
  height: 62px;
  width: 157px;
  background: #3043FA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
          box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
  border-radius: 50px;
  border: 1px solid #E0E0E0;
}

.switch-slider input[type="checkbox"].toggle.toggle:checked + label:before, .switch-slider input[type="checkbox"].toggle.toggle:checked + label:hover:before, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label:before, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label:hover:before {
  background-position: 0 0;
  top: 4px;
  left: 100%;
  margin-left: -77px;
}

@media (max-width: 767px) {
  .mentee-search-section .search-for-mentor {
    padding: 0 20px;
  }
  .mentee-search-section .serach-topic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mentee-search-section .serach-topic .form-group {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=mentor-search-topic-no-result-found.css.map */