.mentee-home-section {
  padding: 20px 0 100px 0;
  background-color: #ffffff;
}

.mentee-home-section .search-for-mentor h3 {
  font-size: 18px;
  line-height: 30px;
  color: #0075FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 34px;
}

.mentee-home-section .serach-topic {
  margin-bottom: 50px;
}

.mentee-home-section .serach-topic .form-group {
  position: relative;
  max-width: 430px;
}

.mentee-home-section .serach-topic .form-group .form-control {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 20px rgba(19, 33, 176, 0.5);
          box-shadow: 0px 3px 20px rgba(19, 33, 176, 0.5);
  border-radius: 10px;
  color: #3a6ba4 !important;
  border: 0;
  padding-right: 60px;
  font-family: 'metropolismedium';
}

.mentee-home-section .serach-topic .form-group .form-control:focus {
  color: #3a6ba4 !important;
  font-family: 'metropolismedium';
}

.mentee-home-section .serach-topic .form-group .form-control::-webkit-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-home-section .serach-topic .form-group .form-control:-ms-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-home-section .serach-topic .form-group .form-control::-ms-input-placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-home-section .serach-topic .form-group .form-control::placeholder {
  color: rgba(58, 107, 164, 0.5) !important;
  font-family: 'metropolismedium';
}

.mentee-home-section .serach-topic .form-group .search-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-home-section .serach-topic .form-group .search-icon img {
  width: 18px;
  height: auto;
}

.mentee-home-section .home-profile-info .swith-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-home-section .home-profile-info .swith-user .switch-slider label span {
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: 'metropolisbold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
  color: #83B6D9 !important;
}

.mentee-home-section .home-profile-info .swith-user .switch-slider label span img {
  width: 22px;
  height: 14px;
}

.mentee-home-section .home-profile-info .swith-user .switch-slider label span .d-none {
  display: none;
}

.mentee-home-section .home-profile-info .swith-user .switch-slider label .selected {
  color: #0075FF !important;
}

.mentee-home-section .home-profile-info .swith-user .switch-slider label .selected img.d-block {
  display: none !important;
}

.mentee-home-section .home-profile-info .swith-user .switch-slider label .selected img.d-none {
  display: block !important;
}

.mentee-home-section .home-profile-info .expert-list {
  padding: 20px 50px;
}

.mentee-home-section .home-profile-info .expert-list .expert-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.mentee-home-section .home-profile-info .expert-list .expert-item .exert-img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-home-section .home-profile-info .expert-list .expert-item .exert-img .img-w21 {
  width: 24px;
  height: auto;
}

.mentee-home-section .home-profile-info .expert-list .expert-item .exert-img .img-w24 {
  width: 24px;
  height: auto;
}

.mentee-home-section .home-profile-info .expert-list .expert-item .exert-img .img-w28 {
  width: 28px;
  height: auto;
}

.mentee-home-section .home-profile-info .expert-list .expert-item .expert-info {
  padding-left: 13px;
}

.mentee-home-section .home-profile-info .expert-list .expert-item .expert-info p {
  font-size: 12px;
  line-height: 16px;
  font-family: 'metropolismedium';
  color: #3A6BA4;
  text-align: left;
  margin-bottom: 20px;
}

.serach-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}

.serach-title .search-title-img {
  width: 28px;
  height: 28px;
  background: #00D1FF;
  border: 1px solid #00D1FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.serach-title .search-title-img img {
  width: 16px;
  height: auto;
}

.serach-title .search-title-img .img-heart {
  height: 13px;
  width: 16px;
}

.serach-title .search-title-img .img-plus {
  height: 16px;
  width: auto;
}

.serach-title .search-title-info {
  padding-left: 10px;
}

.serach-title .search-title-info h2 {
  font-weight: 600;
  font-size: 18px;
  font-family: 'metropolissemi_bold';
  color: #3A6BA4;
  margin-bottom: 3px;
}

.serach-title .search-title-info h4 {
  font-weight: 500;
  font-size: 14px;
  font-family: 'metropolismedium';
  color: #3A6BA4;
}

.mentee-list {
  margin-bottom: 50px;
}

.mentee-list .mentee-list-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mentee-list .mentee-item {
  height: 140px;
  width: 140px;
  min-width: 140px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  position: relative;
  margin-right: 0px;
  margin-bottom: 10px;
}

.mentee-list .mentee-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 140px;
}

.mentee-list .mentee-item .mentee-item-content {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 99, 250, 0.81)), to(rgba(21, 209, 250, 0)));
  background: linear-gradient(360deg, rgba(21, 99, 250, 0.81) 0%, rgba(21, 209, 250, 0) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px 15px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 57px;
  width: 100%;
}

.mentee-list .mentee-item .mentee-item-content h3 {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  font-family: 'metropolisbold';
  margin-bottom: 0;
}

.mentee-list .mentee-item .mentee-item-content p {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: 'metropolisregular';
}

.mentee-list .owl-nav {
  display: block !important;
}

.mentee-list .owl-nav button {
  background-color: #6C95FF !important;
  height: 30px;
  width: 30px;
  border-radius: 100px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentee-list .owl-nav button img {
  top: -3px;
  position: relative;
  width: 11px;
  height: auto;
}

.mentee-list .owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: 40%;
}

.mentee-list .owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: 40%;
}

.other-mentors-list .mentor-box {
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 14px rgba(21, 41, 250, 0.15);
          box-shadow: 0px 3px 14px rgba(21, 41, 250, 0.15);
  border-radius: 10px;
  width: 140px;
  min-width: 140px;
  height: 207px;
  display: block;
  position: relative;
  margin-right: 10px;
}

.other-mentors-list .mentor-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 207px;
}

.other-mentors-list .mentor-box .mentor-info {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 99, 250, 0.81)), to(rgba(21, 209, 250, 0)));
  background: linear-gradient(360deg, rgba(21, 99, 250, 0.81) 0%, rgba(21, 209, 250, 0) 100%);
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 17px 15px 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.other-mentors-list .mentor-box .mentor-info h4 {
  font-size: 20px;
  line-height: 33px;
  color: #ffffff;
  font-family: 'metropolissemi_bold';
  margin-bottom: 0;
}

.other-mentors-list .mentor-box .mentor-info h3 {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  font-family: 'metropolissemi_bold';
  margin-bottom: 0;
}

.other-mentors-list .owl-nav {
  display: block !important;
}

.other-mentors-list .owl-nav button {
  background-color: #6C95FF !important;
  height: 30px;
  width: 30px;
  border-radius: 100px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.other-mentors-list .owl-nav button img {
  top: -3px;
  position: relative;
  width: 11px;
  height: auto;
}

.other-mentors-list .owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: 40%;
}

.other-mentors-list .owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: 40%;
}

.switch-slider input[type="checkbox"].toggle.toggle {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.switch-slider input[type="checkbox"].toggle.toggle + label {
  height: 62px;
  width: 157px;
  line-height: 40px;
  background-color: #ccc;
  padding: 0px 10px;
  border-radius: 100px;
  background: #3043FA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
          box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 10px;
  position: relative;
  cursor: pointer;
}

.switch-slider input[type="checkbox"].toggle.toggle + label:before, .switch-slider input[type="checkbox"].toggle.toggle + label:hover:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 73px;
  height: 51px;
  background: #fff;
  z-index: 2;
  border-radius: 100px;
}

.switch-slider input[type="checkbox"].toggle.toggle + label .off, .switch-slider input[type="checkbox"].toggle.toggle + label .on {
  color: #0075FF;
  z-index: 99;
  padding: 5px 15px;
}

.switch-slider input[type="checkbox"].toggle.toggle:checked + label, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label {
  height: 62px;
  width: 157px;
  background: #3043FA;
  -webkit-box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
          box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
  border-radius: 50px;
  border: 1px solid #E0E0E0;
}

.switch-slider input[type="checkbox"].toggle.toggle:checked + label:before, .switch-slider input[type="checkbox"].toggle.toggle:checked + label:hover:before, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label:before, .switch-slider input[type="checkbox"].toggle.toggle:focus:checked + label:hover:before {
  background-position: 0 0;
  top: 4px;
  left: 100%;
  margin-left: -77px;
}

@media (max-width: 767px) {
  .mentee-home-section .serach-topic .form-group {
    max-width: 100%;
  }
  .mentee-home-section .mentee-list {
    padding: 0 20px;
  }
  .mentee-home-section .other-mentors-list {
    padding: 0 20px;
  }
  .home-profile-info {
    margin-top: 20px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .mentee-home-section .mentee-list {
    padding: 0 40px;
  }
  .mentee-home-section .other-mentors-list {
    padding: 0 40px;
  }
  .home-profile-info {
    margin-top: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .mentee-home-section .mentee-list {
    padding: 0 20px;
  }
  .mentee-home-section .other-mentors-list {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=mentor-home.css.map */