@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

.mentee-search-section{
    padding: 20px 0 100px 0;
    background-color: #ffffff;

    .search-for-mentor{
            background: #FFFFFF;
            box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.2);
            border-radius: 20px;
            padding: 15px 50px;
            margin-bottom: 130px;
        h3 {
            font-size: 16px;
            line-height: 30px;
            color: #3A6BA4;
            font-family: 'metropolissemi_bold';
            margin-bottom: 10px;
        }

        p{
            font-size: 14px;
            line-height: 23px;
            color: #3A6BA4;
        }
    }

    .serach-topic{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        .search-filter{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-width: 220px;
            label {
                white-space: nowrap;
                margin: 0 15px;
                font-size: 18px;
                line-height: 23px;
                color: #3A6BA4;
            }

            select {
                background: rgba(186, 186, 186, 0.3);
                border-radius: 5px;
                min-width: 120px;
            }
        }
        .form-group {
            position: relative;
            width: 100%;
            margin-bottom: 0;
            .form-control {
                background: #FFFFFF;
                box-shadow: 0px 3px 20px rgba(19, 33, 176, 0.5);
                border-radius: 10px;
                color: rgba(58, 107, 164, 1) !important;
                border: 0;
                padding-right: 60px;
                font-family: 'metropolismedium';
                &:focus {
                    color: rgba(58, 107, 164, 1) !important;
                    font-family: 'metropolismedium';
                }
                &::placeholder {
                    color: rgba(58, 107, 164, 0.5) !important;
                    font-family: 'metropolismedium';
                }
            }
            .search-icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 18px;
                    height: auto;
                }
            
            }
        }
    }

    .search-topic-list{
        margin-bottom: 10px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 153, 255, 0.12);
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #0075FF;
            height: 3px;
            width: 150px;
        }
        .search-detail-list{

            .item-sub{
                .topic-more {

                    .badge{
                        height: 18px;
                        width: 18px;
                        border-radius: 100%;
                        background-color: #0075FF;
                        color: #ffffff;
                        font-size: 10px;
                        margin-right: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    
                   i{
                    color: #0099FF !important;
                    background-color: transparent !important;
                    box-shadow: none !important;
                    font-weight: 600;
                   }
                  
                }
            }
        
            .search-item{
                height: 58px;
                background-color: #ffffff;
                border-radius: 15px;
                margin-bottom: 11px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                text-decoration: none;
                box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
                margin-bottom: 11px;
                .serach-img{
                    width: 90px;
                    height: 100%;
                    min-width: 90px;
                    img {
                        width: 100%;
                    }
                }

                .search-name{
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    h3 {
                        color: #3A6BA4;
                        font-size: 16px;
                        line-height: 16px;
                        font-family: 'metropolisbold';
                        margin-bottom: 0;
                        
                    }

                    .topic-more{
                        display: flex;
                        flex-direction: row;
                        max-width: 60px;
                        .topic-count{
                            height: 19px;
                            width: 19px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #0099FF;
                            color: #ffffff;
                            border-radius: 100%;
                            margin-right: 10px;
                            font-size: 12px;
                            font-family: 'metropolissemi_bold';
                        }

                        i{
                            transform: rotate(180deg);
                            position: relative;
                            top: -2px;
                            color: #14C85C;
                            transform: rotate(-180deg);
                            background: #FFFFFF;
                            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }

    .home-profile-info{

        .swith-user{
         display: flex;
         align-items: center;
         justify-content: center;
            .switch-slider{
                label  {
                    span {
                        padding: 5px 10px;
                        text-transform: uppercase;
                        font-family: 'metropolisbold';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        line-height: 20px;
                        color: #83B6D9 !important;
                        img {
                            width: 22px;
                            height: 14px;
                        }
                        .d-none{
                            display: none;
                        }
                    }

                    .selected{
                        color: #0075FF !important;

                        img.d-block{
                            display: none !important;
                            
                        }
                        img.d-none{
                            display: block !important;
                        }
                    }
                }
            }
        }

        .expert-list{
            padding: 20px 50px;
            .expert-item{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 20px;
                .exert-img {
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .img-w21{
                        width: 24px;
                        height: auto;
                    }

                    .img-w24{
                        width: 24px;
                        height: auto;
                    }

                    .img-w28{
                        width: 28px;
                        height: auto;
                    }
                }

                .expert-info{
                    padding-left: 13px;
                    p {
                        font-size: 12px;
                        line-height: 16px;
                        font-family: 'metropolismedium';
                        color: #3A6BA4;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .zero-result-found{
        margin-bottom: 30px;
        h3 {
            font-size: 16px;
            line-height: 16px;
            color: #EE3842;
            margin-bottom: 10px;
        }
    }

    .no-result-found {
        margin-bottom: 40px;
        h3 {
            font-size: 21px;
            line-height: 35px;
            color: #3A6BA4;
            margin-bottom: 0;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            color: rgba(58, 107, 164, 0.75);
        }
    }

    .try-topic{
        p {
            color: rgba(58, 107, 164, 0.75);
            font-size: 14px;
            line-height: 15px;
            font-family: 'metropolissemi_bold';
            margin-bottom: 20px;
        }
    }

    
    .other-mentors-list{

        .mentor-box {
            overflow: hidden;
            box-shadow: 0px 3px 14px rgba(21, 41, 250, 0.15);
            border-radius: 10px;
            width: 140px;
            min-width: 140px;
            height: 207px;
            display: block;
            position: relative;
            margin-right: 10px;
            img {
              width: 100%;
              object-fit: cover;
              height: 207px;
            }
    
            .mentor-info{
                background: linear-gradient(360deg, rgba(21, 99, 250, 0.81) 0%, rgba(21, 209, 250, 0) 100%);
                height: 98px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 20px 17px 15px 17px;
                flex-direction: column;
                h4 {
                    font-size: 20px;
                    line-height: 33px;
                    color: #ffffff;
                    font-family: 'metropolissemi_bold';
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 14px;
                    line-height: 23px;
                    color: #ffffff;
                    font-family: 'metropolissemi_bold';
                    margin-bottom: 0;
                  
                }
    
    
                // p {
                //     font-size: 14px;
                //     line-height: 23px;
                //     margin-bottom: 0;
                //     color: #ffffff;
                //     i  {
                //         color: #F2AE14;
                //     }
                // }
            }
        }

        .owl-nav {
            display: none !important;
            button {
                background-color:  #6C95FF !important;
                height: 30px;
                width: 30px;
                border-radius: 100px !important;
                box-shadow: none;
                outline: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    top: -3px;
                    position: relative;
                    width: 11px;
                    height: auto;
                }
            }
            .owl-prev {
                position: absolute;
                left: -40px;
                top: 40%;
            }
    
            .owl-next {
                position: absolute;
                right: -40px;
                top: 40%;
            }
        }
    }

 

}

.cant-find-topic{
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-suggest {  
        @include btn-blue();
        height: 55px;
        font-size: 20px;
        font-size: 14px;
        line-height: 20px;
        display: block;
        max-width: 300px;
        width: 100%;
        span {
            display: block;
        }
    }
    
}


.switch-slider{
        input[type="checkbox"].toggle {
      
            &.toggle {
              
              opacity: 0;
              position: absolute;
              left: -99999px;
          
              & + label {
                
                height: 62px;
                width: 157px;
                line-height: 40px;
                background-color: #ccc;
                padding: 0px 10px;
                border-radius: 100px;
                background: #3043FA;
                box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 10px;
                position: relative;
                cursor: pointer;
             
                
                &:before, &:hover:before {
                  
                  content: ' ';
                  position: absolute;
                  top: 5px;
                  left: 5px;
                  width: 73px;
                  height: 51px;
                  background: #fff;
                  z-index: 2;
                    border-radius: 100px;
                  
                }
                
                .off, .on {
                  color: #0075FF;
                  z-index: 99;
                  padding: 5px 15px;
                  
                }
                
                // .off {
                //   margin-left: 5px;
                //   display:inline-block;
                // }
                
                // .on {
                //   display: none;
                // }
                
              }
          
              &:checked + label {
                
                // .off {
                //   display: none;
                // }
                // .on {
                //   margin-right: 25px;
                //   display:inline-block;
                // }
                
              }
          
              &:checked + label, &:focus:checked + label {
                height: 62px;
                width: 157px;
                background: #3043FA;
                box-shadow: inset 0px 0px 4px rgba(21, 41, 250, 0.02);
                border-radius: 50px;
                border: 1px solid #E0E0E0;
                &:before, &:hover:before {
                  
                  background-position: 0 0;
                  top: 4px;
                  left: 100%;
                  margin-left: -77px;
                  
                }
                
              }
          
            }
            
          }
}


@media (max-width: 767px) {
    .mentee-search-section {
        .search-for-mentor {
            padding: 0 20px;
        }
        .serach-topic {
            flex-direction: column;
            .form-group{
                margin-bottom: 15px;
            }
        }
    }
}

