@mixin btn-blue {
    color: #ffffff;
    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    border-radius: 15px;
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid #1D61F6;
    
    &:hover {
    background-color: #1D61F6;
    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #1D61F6;
        box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
        transform: translateY(-3px);
    }
}

@mixin btn-white {
    color: #000000;
    background-color: #ffffff;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    &:hover {
    background-color: #ffffff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
}

@mixin btn-blue-light {
    color: #0075ff;
    background: #DEF2FF;
    border: 1px solid #0075FF;
    box-sizing: border-box;
    // background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
    min-height: 50px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    line-height: 30px;
    font-size: 20px;

    
    &:hover {
    background: #DEF2FF;
    box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
    }
    &:focus {
        background: #DEF2FF;
        box-shadow: 0 12px 24px 0 rgba(0, 117, 255,0.1);
        transform: translateY(-3px);
    }
}


.signup-email-section {
    padding: 40px 0 40px 0;
    background-color: #F2F9FD;
    .signup-email-box{
        background: #FFFFFF;
        border: 1px solid #6C95FF;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;

        .get-start{
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 10px;
            a {
                font-size: 12px;
                line-height: 20px;
                color: #0075FF;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'metropolisbold';
            }
        }

        .signup-circle {
            height: 70px;
            width: 70px;
            background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
       
        h2 {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #0099FF;
            font-family: 'metropolissemi_bold';
            margin-bottom: 20px;
        }

        .form-signup {
            width: 100%;
            padding: 0 80px;

            .form-group{
                .form-control {
                    color: #3A6BA4;
                    &::placeholder {
                        color: #3A6BA4;   
                    }
                    &:focus {
                        color: #3A6BA4;
                    }
                }
            }

            .error {
                input {
                    border: 1px solid #FF0422 !important;
                }
            }

            .custom-checkbox{
                padding-left: 36px;
                .custom-control-label{
                    font-size: 10.5px;
                    line-height: 23px;
                    color: #3A6BA4;
                    font-family: 'metropolismedium';
                }
            }

            .password-strength{
                p {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 15px;
                    color: #0075FF;
                }
            }

            .btn-groups{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 50px;
                .btn-blue {
                    @include btn-blue();
                    background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
                    box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
                    border-radius: 10px;
               
                }
                .btn-blue-light {
                    @include btn-blue-light();
                    background: #DEF2FF;
                    border: 1px solid #0075FF;
                    box-sizing: border-box;
                    border-radius: 10px;
                }
                .btn {
                    max-width: 140px;
                    height: 45px;
                    width: 100%;
                    font-size: 14px;
                    line-height: 16px;
                    font-family: 'metropolismedium';
                }

                
            }
            
            .have-account{
                font-family: 'metropolismedium';
                font-size: 14px;
                line-height: 15px;
                color: #0075FF;
                text-align: center;
                width: 100%;
                display: block;
                margin-bottom: 20px;
                text-decoration: none;
                &:hover {
                    color: #3043FA;
                }
            }
        }
    }

    .signup-bottom {
        margin-top: 30px;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .signup-email-section {
        .signup-email-box {
            .form-signup {
                padding: 0 20px;
            }
        }
    }
}