.signup-section {
    padding: 40px 0 160px 0;
    background-color: #F2F9FD;
    .signup-box{
        background: #FFFFFF;
        border: 1px solid #6C95FF;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        .get-start{
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 10px;
            a {
                font-size: 12px;
                line-height: 20px;
                color: #0075FF;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'metropolisbold';
            }
        }
        .signup-circle {
            height: 70px;
            width: 70px;
            background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }

       
        h2 {
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #0099FF;
            font-family: 'metropolissemi_bold';
            margin-bottom: 40px;
        }

        .sign-up-btns{
            padding: 0 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;
            .btn-white {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: #FFFFFF;
                border: 1px solid #0075FF;
                box-sizing: border-box;
                border-radius: 5px;
                height: 45px;
                width: 100%;
                margin-bottom: 30px;
                font-family: 'metropolissemi_bold';
                color: #0075FF;
                font-size: 14px;
                line-height: 23px;
                transition: all 0.8s;
                img {
                    height: 20px;
                    width: 20px;
                    margin-right: 26px;
                }
                &:hover {
                    box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
                    transform: translateY(-3px);
                    transition: all 0.8s;
                }

                &:focus {
                    box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
                    transform: translateY(-3px);
                    transition: all 0.8s;
                }
            }

            .btn-sinup{
                text-align: center;
                display: flex;
                width: 100%;
                justify-content: center;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 40px;
            }

            p {
                color: #0075FF;
                font-size: 14px;
                line-height: 23px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .or-text {
           p {
            font-size: 18px;
            font-weight: 800;
            color: #0075FF;
            line-height: 22px;
            margin-bottom: 20px;
           }
        }

       
    }
}

.term-confdition{
    padding: 0 35px;
    h3 {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: rgba(58, 107, 164, 0.96);
        font-family: 'metropolisbold';
        margin-bottom: 20px;
        a {
            color: rgba(58, 107, 164, 0.96);
        }
    }

    .term-info{
        margin-bottom: 50px;
        P {
            color: #3A6BA4;
            text-align: center;
            font-size: 13px;
            line-height: 24px;
            font-family: 'metropolismedium';

         }
    }
     
     .check-box-group{
         margin-bottom: 30px;
        .custom-checkbox {
            max-width: 200px;
            margin: 0 auto;
            .custom-control-label {
               color: #3A6BA4;
               text-align: left;
               font-size: 14px;
               line-height: 24px;
               font-family: 'metropolismedium';
               &:after {
                   top: 6px;
                   
               }
               &:before {
                   top: 6px;
               }
            }
        }
     }

     .conutinue-div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        .btn-continue{
            background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
            border: 1px solid #6C95FF;
            box-sizing: border-box;
            box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
            border-radius: 10px;
            max-width: 180px;
            width: 100%;
            font-size: 15px;
            line-height: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #ffffff;
            height: 42px;
            transition: all 0.8s;
            font-family: 'metropolismedium';
            &:hover {
                box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
                transform: translateY(-3px);
                transition: all 0.8s;
            }

            &:focus {
                box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
                transform: translateY(-3px);
                transition: all 0.8s;
            }
        }
    }

    .have-anaccount-div{
        width: 100%;
        .btn-have-account{
            font-size: 14px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #0075FF;
            font-family: 'metropolismedium';
        }
    }

  
}

@media (max-width: 767px) {
    .signup-section {
        .signup-box {
            .sign-up-btns {
                padding: 0 20px;
             
            }
        }
    }
}