.signup-email-section {
  padding: 40px 0 40px 0;
  background-color: #F2F9FD;
}

.signup-email-section .signup-email-box {
  background: #FFFFFF;
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.signup-email-section .signup-email-box .get-start {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

.signup-email-section .signup-email-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #0075FF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'metropolisbold';
}

.signup-email-section .signup-email-box .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.signup-email-section .signup-email-box .signup-circle img {
  width: 100%;
}

.signup-email-section .signup-email-box h2 {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0099FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 20px;
}

.signup-email-section .signup-email-box .form-signup {
  width: 100%;
  padding: 0 80px;
}

.signup-email-section .signup-email-box .form-signup .form-group .form-control {
  color: #3A6BA4;
}

.signup-email-section .signup-email-box .form-signup .form-group .form-control::-webkit-input-placeholder {
  color: #3A6BA4;
}

.signup-email-section .signup-email-box .form-signup .form-group .form-control:-ms-input-placeholder {
  color: #3A6BA4;
}

.signup-email-section .signup-email-box .form-signup .form-group .form-control::-ms-input-placeholder {
  color: #3A6BA4;
}

.signup-email-section .signup-email-box .form-signup .form-group .form-control::placeholder {
  color: #3A6BA4;
}

.signup-email-section .signup-email-box .form-signup .form-group .form-control:focus {
  color: #3A6BA4;
}

.signup-email-section .signup-email-box .form-signup .error input {
  border: 1px solid #FF0422 !important;
}

.signup-email-section .signup-email-box .form-signup .custom-checkbox {
  padding-left: 36px;
}

.signup-email-section .signup-email-box .form-signup .custom-checkbox .custom-control-label {
  font-size: 10.5px;
  line-height: 23px;
  color: #3A6BA4;
  font-family: 'metropolismedium';
}

.signup-email-section .signup-email-box .form-signup .password-strength p {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #0075FF;
}

.signup-email-section .signup-email-box .form-signup .btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn-blue {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 15px;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid #1D61F6;
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 10px;
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn-blue:hover {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn-blue:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn-blue-light {
  color: #0075ff;
  background: #DEF2FF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  text-align: center;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 30px;
  font-size: 20px;
  background: #DEF2FF;
  border: 1px solid #0075FF;
  box-sizing: border-box;
  border-radius: 10px;
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn-blue-light:hover {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn-blue-light:focus {
  background: #DEF2FF;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 117, 255, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.signup-email-section .signup-email-box .form-signup .btn-groups .btn {
  max-width: 140px;
  height: 45px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  font-family: 'metropolismedium';
}

.signup-email-section .signup-email-box .form-signup .have-account {
  font-family: 'metropolismedium';
  font-size: 14px;
  line-height: 15px;
  color: #0075FF;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.signup-email-section .signup-email-box .form-signup .have-account:hover {
  color: #3043FA;
}

.signup-email-section .signup-bottom {
  margin-top: 30px;
}

.signup-email-section .signup-bottom img {
  width: 100%;
}

@media (max-width: 767px) {
  .signup-email-section .signup-email-box .form-signup {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=sign-up-with-email.css.map */