.signup-section {
  padding: 40px 0 160px 0;
  background-color: #F2F9FD;
}

.signup-section .signup-box {
  background: #FFFFFF;
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.signup-section .signup-box .get-start {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
}

.signup-section .signup-box .get-start a {
  font-size: 12px;
  line-height: 20px;
  color: #0075FF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'metropolisbold';
}

.signup-section .signup-box .signup-circle {
  height: 70px;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-11.69%, #0075FF), color-stop(102.78%, #1529FA), color-stop(102.78%, #363CDA));
  background: linear-gradient(360deg, #0075FF -11.69%, #1529FA 102.78%, #363CDA 102.78%);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.signup-section .signup-box .signup-circle img {
  width: 100%;
}

.signup-section .signup-box h2 {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0099FF;
  font-family: 'metropolissemi_bold';
  margin-bottom: 40px;
}

.signup-section .signup-box .sign-up-btns {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.signup-section .signup-box .sign-up-btns .btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #FFFFFF;
  border: 1px solid #0075FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  width: 100%;
  margin-bottom: 30px;
  font-family: 'metropolissemi_bold';
  color: #0075FF;
  font-size: 14px;
  line-height: 23px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.signup-section .signup-box .sign-up-btns .btn-white img {
  height: 20px;
  width: 20px;
  margin-right: 26px;
}

.signup-section .signup-box .sign-up-btns .btn-white:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.signup-section .signup-box .sign-up-btns .btn-white:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.signup-section .signup-box .sign-up-btns .btn-sinup {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

.signup-section .signup-box .sign-up-btns p {
  color: #0075FF;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 20px;
}

.signup-section .signup-box .or-text p {
  font-size: 18px;
  font-weight: 800;
  color: #0075FF;
  line-height: 22px;
  margin-bottom: 20px;
}

.term-confdition {
  padding: 0 35px;
}

.term-confdition h3 {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: rgba(58, 107, 164, 0.96);
  font-family: 'metropolisbold';
  margin-bottom: 20px;
}

.term-confdition h3 a {
  color: rgba(58, 107, 164, 0.96);
}

.term-confdition .term-info {
  margin-bottom: 50px;
}

.term-confdition .term-info P {
  color: #3A6BA4;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-family: 'metropolismedium';
}

.term-confdition .check-box-group {
  margin-bottom: 30px;
}

.term-confdition .check-box-group .custom-checkbox {
  max-width: 200px;
  margin: 0 auto;
}

.term-confdition .check-box-group .custom-checkbox .custom-control-label {
  color: #3A6BA4;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-family: 'metropolismedium';
}

.term-confdition .check-box-group .custom-checkbox .custom-control-label:after {
  top: 6px;
}

.term-confdition .check-box-group .custom-checkbox .custom-control-label:before {
  top: 6px;
}

.term-confdition .conutinue-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.term-confdition .conutinue-div .btn-continue {
  background: -webkit-gradient(linear, left top, left bottom, from(#6C95FF), to(#1529FA));
  background: linear-gradient(180deg, #6C95FF 0%, #1529FA 100%);
  border: 1px solid #6C95FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(0, 153, 255, 0.12);
  border-radius: 10px;
  max-width: 180px;
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  height: 42px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'metropolismedium';
}

.term-confdition .conutinue-div .btn-continue:hover {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.term-confdition .conutinue-div .btn-continue:focus {
  -webkit-box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
          box-shadow: 0px 1px 12px rgba(108, 149, 255, 0.12);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.term-confdition .have-anaccount-div {
  width: 100%;
}

.term-confdition .have-anaccount-div .btn-have-account {
  font-size: 14px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0075FF;
  font-family: 'metropolismedium';
}

@media (max-width: 767px) {
  .signup-section .signup-box .sign-up-btns {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=sign-up.css.map */